// @import "../css/jquery.fullpage.min.css";
@import "./node_modules/slick-carousel/slick/slick.scss";
// @import "../../../../node_modules/slick-carousel/slick/slick.scss";

@import 'lib/_tooltipster-base';
@import 'lib/_tooltipster-theme_shadow';

@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/normalize";
// @import "../../../node_modules/bootstrap-4-grid/scss/grid.scss";

html, body {
    height: 100%;
}

html {
    font-size: $main-font-size;
    line-height: $main-line-height;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-size: $main-font-size;
    line-height: $main-line-height;
    font-weight: $main-font-weight;
    color: $color-black;
    background-color: $color-white;
    @extend %antialias;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
}

img, svg {
    max-width: 100%;
}

svg {
    fill: currentColor;
    max-height: 100%;
}

button, a {
    cursor: pointer;
}

strong,
.bold{
    @include font-bold;
}

.layout {
    position: relative;
    overflow: hidden;
    // display: flex;
    // flex-flow: column wrap;
    min-height: 100%;
    // &__header,
    // &__footer{
    //     flex: 0 0 auto;
    // }
    // &__header{
    //     z-index: 1;
    // }
    // &__main{
    //     margin-top: -10px;
    //     flex: 1;
    // }
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1176px;
    @include rmin(1500){
        max-width: 1440px;
    }
}

.nowrap{
    white-space: nowrap;
}
.tooltip_templates{
    display: none;
}

.stars{
    &__list{
        @extend %reset-list;
        display: flex;
    }
    &__item{
        &:not(:last-child){
            margin-right: 5px;
        }
    }
    img{
        width: 18px;
        height: 18px;
    }
}
.nk-blue{
    font-size: 14px;
    color: $light_color;
    &:not(.nk-blue_no-decor){
        text-decoration: underline;
    }
}
.icon-info{
    width: 1.2em;
    height: 1.2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: #e9eaf4;
    font-style: normal;

}
.simple-list{
    margin-bottom: 1em;
    list-style: none;
    li{
        margin-bottom: 0.3em;
    }
}
.e-product-item{
    font-size: 14px;
    color: #134579;
    text-decoration: underline;
}
// Components
@import "components";

// Utils
@import "utils/utils";
