extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page'

block head

block header
    +header()

block content
    .section_outer.section_actions.section_outer_page
        .section_inner
            .section_header
                .section_header_title Акции

            -
                var wrapList = [
                    {
                        text: 'Скидки от 10% на товары от Yamaguchi, US Medica и Anatomico.',
                        date: 'Действует до 31 декабря 2016'
                    },
                    {
                        text: 'Суперскидки на велосипеды',
                        date: 'Действует до 31 декабря 2016'
                    },
                    {
                        text: 'Лучшие цены на массажные кресла',
                        date: 'Действует до 31 декабря 2016'
                    },
                    {
                        text: 'Успейте купить офисное кресло Comfort с приятной скидкой 10%',
                        date: 'Действует до 31 декабря 2016'
                    },
                ]
            .section_wrap_list
                - for (var x = 0; x < 3; x++)
                    each item, i in wrapList
                        .item
                            .item_inner
                                img(src=imgPathOld(`action${i+1}.jpg`) alt='')

                                a.title(href='#')!=item.text
                                .action_date!=item.date
