extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page'

block head

block header
    +header()

block content
    .section_outer.section_outer_page.section_articles
        .section_inner
            .section_header
                .section_header_title Журнал MWT
                a.section_header_title_link(href='#')
                    span все материалы
            .section_wrap_list
                -
                    var wrapList = [
                        {
                            text: 'Воздействие теплом в косметологии и физиотерапии',
                            date: 'Косметологам хорошо известно, что в течение многих лет в косметике ведущее место занимали тепловые процедуры –'
                        },
                        {
                            text: 'В чем выгода массажного кресла?',
                            date: 'Косметологам хорошо известно, что в течение многих лет в косметике ведущее место занимали тепловые процедуры –  '
                        },
                        {
                            text: 'Воздействие теплом в косметологии и физиотерапии',
                            date: 'Косметологам хорошо известно, что в течение многих лет в косметике ведущее место занимали тепловые процедуры –'
                        },
                        {
                            text: 'В чем выгода массажного кресла?',
                            date: 'Косметологам хорошо известно, что в течение многих лет в косметике ведущее место занимали тепловые процедуры –  '
                        },
                    ]

                - for (var x = 0; x < 2; x++)
                    each item, i in wrapList
                        .item
                            .item_img
                                img(src=imgPathOld(`article${i+1}.jpg`) alt='')
                            .item_inner
                                a.title(href='#')!=item.text
                                .introtext!=item.date