extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page'

block head

block header
    +header()

block content
    +breadcrumbs()

    .section_outer.section_category
        .section_inner
            +filter_category()
            .main
                .sorting
                    span Сортировка:
                    a.active(href='#' rel='nofollow') по популярности
                    a(href='#' rel='nofollow') сначала дешевые
                    a(href='#' rel='nofollow') сначала дорогие
                h1 Название категории
                div
                    | Иметь возможность расслабиться после тяжёлого трудового дня — блаженство. Сотрудники компании «Yamaguchi» прекрасно понимали это, а потому создали уникальное массажное кресло «Orion», обладающее повышенным комфортом и удовлетворяющее все требования современного потребителя. «Orion» — первое в мире кресло с функцией «Wave Pro».
                    | Стильный дизайн и широкий функционал.
                    | Массажное кресло «Orion» — ровные и чёткие линии, идеальная форма и превосходное оформление корпуса с кристаллами «Swarovski». Огромный выбор массажных режимов позволит каждому найти наиболее подходящий, открывающий мир релаксации.
                .category_list
                    +gift_category()
                    +gift_category_not()
                    +gift_category()
                    +gift_category_action()
                    +gift_category()
                    +gift_category()
                    +gift_category_discount()
                    +gift_category()
                    +gift_category()
                    +gift_category_not()

                .pagination-box
                    nav
                        ul.pagination
                            li.first.disabled
                                span
                                    i.fa.fa-angle-double-left
                            li.prev.disabled
                                span
                                    i.fa.fa-angle-left
                            li.active
                                a(href='/massazhnye-kresla' data-page='0') 1
                            li
                                a(href='/massazhnye-kresla?page=2&per-page=42' data-page='1') 2
                            li
                                a(href='/massazhnye-kresla?page=3&per-page=42' data-page='2') 3
                            li
                                a(href='/massazhnye-kresla?page=4&per-page=42' data-page='3') 4
                            li
                                a(href='/massazhnye-kresla?page=5&per-page=42' data-page='4') 5
                            li.next
                                a(href='/massazhnye-kresla?page=2&per-page=42' data-page='1')
                                    i.fa.fa-angle-right
                            li.last
                                a(href='/massazhnye-kresla?page=5&per-page=42' data-page='4')
                                    i.fa.fa-angle-double-right
                div
                    | Иметь возможность расслабиться после тяжёлого трудового дня — блаженство. Сотрудники компании «Yamaguchi» прекрасно понимали это, а потому создали уникальное массажное кресло «Orion», обладающее повышенным комфортом и удовлетворяющее все требования современного потребителя. «Orion» — первое в мире кресло с функцией «Wave Pro».
                    | Стильный дизайн и широкий функционал.
                    | Массажное кресло «Orion» — ровные и чёткие линии, идеальная форма и превосходное оформление корпуса с кристаллами «Swarovski». Огромный выбор массажных режимов позволит каждому найти наиболее подходящий, открывающий мир релаксации.
