extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page'

block head

block header
    +header()

block content
    +breadcrumbs()

    .section_outer
        .section_inner
            h1.h1_smaller Массажное оборудование — цены в каталоге интернет-магазина MWT
    .section_outer.section_category_block
        .section_inner
            .section_categories_wrap
                .item.item_left.item_md
                    .item_content
                        .item_content_header
                            a.item_content_header_title(href='/massazhnye-nakidki') Массажные накидки
                        .item_content_bottom
                            a.item_content_bottom_title(href='/massazhnye-kresla/massazhnoe-kreslo-richter-alpine-blue-beige') Массажное кресло Richter Alpine Blue beige
                            .item_content_bottom_price 355 000 ₽
                        .item_image
                            img(src=imgPathOld(`action1.jpg`) alt='')
                .item.item_left.item_bg
                    .item_content
                        .item_content_header
                            a.item_content_header_title(href='/massazhnye-kovriki') Массажные коврики
                        .item_content_bottom
                            a.item_content_bottom_title(href='/massazhnye-kresla/massazhnoe-kreslo-richter-alpine-blue-beige') Массажное кресло Richter Alpine Blue beige
                            .item_content_bottom_price 355 000 ₽
                        .item_image
                            img(src=imgPathOld(`action1.jpg`) alt='')
                .item.item_left.item_bg
                    .item_count_goods
                        | 328 товаров
                    .item_content
                        .item_content_header
                            a.item_content_header_title(href='/massazhnye-kresla') Массажные кресла
                        ul.item_content_header_list
                            li.item_content_header_list_item
                                a.item_content_header_list_item_link(href='#') Для дома
                            li.item_content_header_list_item
                                a.item_content_header_list_item_link(href='#') Для дома
                            li.item_content_header_list_item
                                a.item_content_header_list_item_link(href='#') Для дома
                        .item_image
                            img(src=imgPathOld(`action1.jpg`) alt='')
                .item.item_left.item_md
                    .item_count_goods
                        | 328 товаров
                    .item_content
                        .item_content_header
                            a.item_content_header_title(href='/massazhery') Массажеры
                        ul.item_content_header_list
                            li.item_content_header_list_item
                                a.item_content_header_list_item_link(href='#') Для дома
                            li.item_content_header_list_item
                                a.item_content_header_list_item_link(href='#') Для дома
                            li.item_content_header_list_item
                                a.item_content_header_list_item_link(href='#') Для дома
                        .item_image
                            img(src=imgPathOld(`action1.jpg`) alt='')
                .item.item_in_width
                    .item_content
                        .item_content_header
                            a.item_content_header_title(href='/massazhnye-podushki') Массажные подушки
                        ul.item_content_header_list
                            li.item_content_header_list_item
                                a.item_content_header_list_item_link(href='#') Для дома
                            li.item_content_header_list_item
                                a.item_content_header_list_item_link(href='#') Для дома
                            li.item_content_header_list_item
                                a.item_content_header_list_item_link(href='#') Для дома
                    .item.item_in_width
                        .item_content
                            .item_content_header
                                a.item_content_header_title(href='/massazhnye-podushki') Массажные подушки
                            ul.item_content_header_list
                                li.item_content_header_list_item
                                    a.item_content_header_list_item_link(href='#') Для дома
                                li.item_content_header_list_item
                                    a.item_content_header_list_item_link(href='#') Для дома
                                li.item_content_header_list_item
                                    a.item_content_header_list_item_link(href='#') Для дома
                        .item.item_in_width
                            .item_content
                                .item_content_header
                                    a.item_content_header_title(href='/massazhnye-podushki') Массажные подушки
                                ul.item_content_header_list
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                            .item.item_in_width
                                .item_content
                                    .item_content_header
                                        a.item_content_header_title(href='/massazhnye-podushki') Массажные подушки
                                    ul.item_content_header_list
                                        li.item_content_header_list_item
                                            a.item_content_header_list_item_link(href='#') Для дома
                                        li.item_content_header_list_item
                                            a.item_content_header_list_item_link(href='#') Для дома
                                        li.item_content_header_list_item
                                            a.item_content_header_list_item_link(href='#') Для дома
                                .item.item_in_width
                                    .item_content
                                        .item_content_header
                                            a.item_content_header_title(href='/massazhnye-podushki') Массажные подушки
                                        ul.item_content_header_list
                                            li.item_content_header_list_item
                                                a.item_content_header_list_item_link(href='#') Для дома
                                            li.item_content_header_list_item
                                                a.item_content_header_list_item_link(href='#') Для дома
                                            li.item_content_header_list_item
                                            a.item_content_header_list_item_link(href='#') Для дома
