extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page'

block head

block header
    +header()

block content
    +section_actions()
    +section_info_slider()
    +section_hits()
    +section_categories()
    +section_slider_gift()
    +section_articles()