extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page'

block head

block header
    +header()

block content
    .section_outer
        .section_inner
            ul.page-list
                li
                    a(href="/") index
                li
                    a(href="/action.html") action
                li.action
                    a(href="/article.html") article
                li
                    a(href="/basket.html") basket
                li
                    a(href="/category_cat.html") category_cat
                li
                    a(href="/category.html") category
                li
                    a(href="/contact.html") contact
                li
                    a(href="/product.html") product
                li
                    a(href="/traid.html") traid

