extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'page-product'

block head

block header
    +header()

block content
    +breadcrumbs()

    .section_outer.section_product
        .section_inner
            .nk-product
                .nk-product__grid
                    .nk-product__sliders
                        #productFullSlider.nk-product__slider_big
                            img(src=imgPathOld(`action1.jpg`) alt='')
                            img(src=imgPathOld(`action2.jpg`) alt='')
                            img(src=imgPathOld(`action3.jpg`) alt='')
                            img(src=imgPathOld(`action4.jpg`) alt='')
                            img(src=imgPathOld(`action1.jpg`) alt='')
                            img(src=imgPathOld(`action2.jpg`) alt='')
                            img(src=imgPathOld(`action3.jpg`) alt='')
                            img(src=imgPathOld(`action4.jpg`) alt='')
                        #productSmallSlider.nk-product__slider_small
                            img(src=imgPathOld(`action1.jpg`) alt='')
                            img(src=imgPathOld(`action2.jpg`) alt='')
                            img(src=imgPathOld(`action3.jpg`) alt='')
                            img(src=imgPathOld(`action4.jpg`) alt='')
                            img(src=imgPathOld(`action1.jpg`) alt='')
                            img(src=imgPathOld(`action2.jpg`) alt='')
                            img(src=imgPathOld(`action3.jpg`) alt='')
                            img(src=imgPathOld(`action4.jpg`) alt='')
                    .nk-product__info-top
                        h1
                            | Массажное кресло Inada DreamWave Beige
                        .line
                            .art
                                | Артикул:
                                span.label.label-primary 371
                            .stars-wrapper
                                +stars('4.5')
                    .nk-product__description
                        a.nk-product__compare(href="#")
                            +icon('check', {cls: 'svg-icon svg-icon_check'})
                            span.nk-blue сравнить
                        .nk-product__text
                            strong.nk-blue.nk-blue_no-decor Краткое описание
                            p
                                | Кресло настолько совершенно, что в его конструкции и комплектации учтены все нюансы и особенности эксплуатации. Косметологам хорошо известно, что в течение многих лет в косметике ведущее место занимали тепловые процедуры.

                        a.nk-product__low-price(href="#")
                            +icon('hand', {cls: 'svg-icon svg-icon_hand'})
                            strong.nk-blue Нашли дешевле? Снизим цену!

                        ul.nk-product__info-list
                            li
                                .nk-product__info-title
                                    +icon('check', {cls: 'svg-icon svg-icon_check'})
                                    strong.nk-blue Доставка - 0 руб
                                a(href='#')  Посмотреть наличие
                            li
                                .nk-product__info-title
                                    +icon('check', {cls: 'svg-icon svg-icon_check'})
                                    strong.nk-blue Самовывоз - 0 руб
                                a(href='#')  Посмотреть наличие
                            li
                                .nk-product__info-title
                                    +icon('check', {cls: 'svg-icon svg-icon_check'})
                                    strong.nk-blue Мега Белая Дача
                                a(href='#')  Посмотреть наличие

                    .nk-product__offer
                        .nk-product__prices
                            .prices_old  410 000 ₽
                            .prices_new
                                | 325 000 ₽&nbsp;
                                i.footnote-icon *
                        .nk-product__labels
                            .label.label_blue -10%
                            .label.label_white выгода 10 000
                        .nk-product__footnote
                            i.footnote-icon *
                            span
                                |  Окончательную стоимость уточняйте у менеджеров.

                        .nk-product__btns
                            a.nk-product__add_button(href='#')
                                | В корзину
                            a.nk-product__oneclick_button(href='#')
                                | Купить в один клик
                            a.nk-product__compare_button(href='#')
                                | Купить за 34 567 ₽/м.
                                i.icon-info(data-tooltip-content=`#tooltip_content_info1`) ?

                        .nk-product__gift
                            .title
                                | В подарок!
                            .gifts
                                img(src=imgPath('product/giftbox.png'))
                                img(src=imgPath('product/gift2.jpg'))
                            a(href="#")
                                span Массажер для шеи и плеч Ergono
                                .price
                                    | 9 400 ₽



    .section_outer.section_product-info
        .section_inner
            .product-tabs
                .product-tabs__inner
                    .tabs-header
                        a.tabs-link.is-active(href='#decription') Описание
                        a.tabs-link(href='#feature') Характеристики
                        a.tabs-link(href='#dop') Дополнительные элементы
                        a.tabs-link(href='#review') Отзывы (4)


                    .tabs-inner
                        .tabs-inner__block.is-active#decription
                            .two-col-wrapper
                                h2 Описание Doctor Life DL LX-7 + манжеты для ног
                                p
                                    | LX 7 - профессиональный аппарат для прессотерапии для домашнего применения,
                                    | комплектация с манжентами
                                    | для ног.
                                p
                                    | Надежный, простой и безопасный. Производство Южная Корея, Doctor life. Предназначен
                                    | для снятия
                                    | отечности, профилактики варикозного расширения вен и коррекции нарушений венозного
                                    | кровотока и
                                    | лимфотока. Улучшает дренаж лимфы, ускоряет кровообращение, выводит по лимфатическим
                                    | сосудам шлаки,
                                    | токсины и лишнюю жидкость.

                                h3 Показания к применению
                                p
                                    | Аппаратная пневмокомпрессия используется для улучшение работы лимфатической
                                    | системы, профилактики
                                    | глубокого венозного тромбоза, терапии варикоза и предотвращения его, при хронической
                                    | венозной
                                    | недостаточности, лимфедема, лимфатических отеках, для лежачих больных после
                                    | операции, физических
                                    | нагрузках, слабости, утомлении, в целях повышения тонуса, восстановление
                                    | эластичности и упругости
                                    | кожи.
                                    br
                                p
                                    | Есть противопоказания: острая почечная недостаточность, острая сердечная
                                    | недостаточность,
                                    | кардиостимуляторы, беременность. В случае острой формы тромбофлебита и при
                                    | онкологических заболеваниях
                                    | перед применением следует проконсультироваться с врачом.
                                    br
                                p
                                    strong
                                        | Клинические исследования. Комплексная физическая противоотечная терапия в
                                        | лечении пациентов с
                                        | лимфодемой.
                                    br
                                p
                                    | Как показали измерения, у всех пациентов наблюдался положительный эффект -
                                    | практически полностью
                                    | ликвидировался отек конечностей. Перестали беспокоить судороги в икроножных мышцах,
                                    | ушла тяжесть в
                                    | ногах.
                                p
                                    | Ретроспективный анализ результатов лечения больных с лимфедемой представлен в
                                    | статье - здесь. Ниже
                                    | представлены фотографии с результатом после курса прессотерапии.
                                h4
                                    | Методика прессотерапии Doctor Life
                                    br
                                iframe(width='680' height='408' src='https://www.youtube.com/embed/9NGFHBxdCoo' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')
                                div
                                    strong Режимы работы
                                p
                                    | Массаж стенок сосудов, профилактика и лечение венозных заболеваний, снятие
                                    | усталости в ногах,
                                    | снятие стрессового состояния организма, массаж мягких тканей конечностей. За счет
                                    | сильного давления на
                                    | мягкие ткани происходит уменьшение объемов.
                                    br
                                p
                                    | Улучшает лимфоток и кровообращение, выводит лишнюю жидкость из организма, за счет
                                    | чего происходит
                                    | постепенное снятие отечности. Применяется для коррекции фигуры и целлюлита.
                                    | Программа выполняется
                                    | последовательным накачиванием всех камер снизу вверх.
                                    span
                                    br


                        .tabs-inner__block#feature
                            h2 Характеристики Doctor Life DL LX-7 + манжеты для ног
                            .prop-group
                                // <div class="prop-group-title">Общая информация</div>
                                .properties
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Производитель
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                a(href='/apparaty-dlya-limfodrenazha-i-pressoterapii/doctor-life')
                                                    | Doctor
                                                    | Life
                            .prop-group
                                .prop-group-title Общие характеристики
                                .properties
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Тип
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                a(href='/apparaty-dlya-limfodrenazha-i-pressoterapii/limfodrenazhnye' title='Лимфодренажные аппараты ' data-toggle='tooltip' data-placement='top')
                                                    | Лимфодренажный
                                                    | аппарат
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Использование
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                a(href='/apparaty-dlya-limfodrenazha-i-pressoterapii/domashnie' title='Аппараты для лимфодренажа и прессотерапии домашние' data-toggle='tooltip' data-placement='top') домашнее
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Экран
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | Есть
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Программы
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | 2 режима компрессии
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Особенности
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | регулировка давления по цветовой гамме, сенсорный экран
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Производитель
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | Южная Корея
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Таймер
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | Есть
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Таймер по времени
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | 10, 20, 30 мин.
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Количество камер в манжетах
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | 4
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Количество каналов
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | 8
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Режимы работы
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | 2
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner
                                                | Возможность отключения в отдельных
                                                | камерах
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | Есть
                            .prop-group
                                .prop-group-title Технические характеристики
                                .properties
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner
                                                | Габариты компрессорного
                                                | блока
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | 18х13х26 см
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Вес аппарата
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | 7 кг
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Возможное давление
                                        dd.product-spec-value
                                            span.product-spec-value-inner
                                                | 10—200 мм рт.ст.
                            .prop-group
                                .prop-group-title Гарантия
                                .properties
                                    dl.product-spec
                                        dt.product-spec-name
                                            span.product-spec-name-inner Гарантия производителя
                                        dd.product-spec-value
                                            span.product-spec-value-inner 12 мес.



                        .tabs-inner__block#dop
                            h2 Комплектация Doctor Life DL LX-7 + манжеты для ног
                            ul.simple-list
                                li Аппарат (компрессор);
                                li Манжеты для ног, 2 шт.;
                                li Воздуховоды;
                                li Адаптор питания;
                                li Акупунктурные стельки - 2 шт .
                                li
                                    | Инструкция на русском языке.
                                    span

                            h2 Возможные комплектующие
                            .e-bestsellers
                                .e-bestsellers__inner.container
                                    .e-bestsellers__items.row
                                        .e-bestsellers__item.col-md-3.col-sm-4.col-xs-6
                                            .e-product-item
                                                .e-product-item__img
                                                    a(href='/apparaty-dlya-limfodrenazha-i-pressoterapii/limfodrenazhnyy-apparat-doctor-life-dopolnitelnaya-opciya-ruka')
                                                        img(src=imgPath('old/article1.jpg') alt='Манжета Doctor Life на руку')
                                                .e-product-item__title
                                                    a(href='/apparaty-dlya-limfodrenazha-i-pressoterapii/limfodrenazhnyy-apparat-doctor-life-dopolnitelnaya-opciya-ruka')
                                                        | Манжета
                                                        | Doctor Life на руку



                        .tabs-inner__block#review
                            h2.reviews-title Отзывы o Doctor Life DL LX-7 + манжеты для ног (4)
                            .product-opinions__wrapper
                                .product-opinions
                                    .opinion
                                        .opinion-header
                                            .opinion-user-name
                                                | Елена
                                                .product-rating
                                                    .rating
                                                        +stars('5')
                                            .opinion-hint.text-right
                                                | Mar 1, 2017
                                        .text
                                            .line
                                                p
                                                    strong Достоинства:
                                            .line
                                                p
                                                    strong Недостатки:
                                            .line
                                                p
                                                    strong Комментарий:
                                                    |                                                         Здравствуйте! Вчера 28.02.17г. купила аппарат LX-7, его работа
                                                    |                                                         мне понравилась. Всё
                                                    |                                                         достаточно качественно сделано. Сам аппарат лёгкий, компактный и
                                                    |                                                         мощности более чем
                                                    |                                                         достаточно, использую на половину. Думаю приобрести шорты к
                                                    |                                                         нему, может удастся похудеть
                                                    |                                                         немного.
                                .product-opinions
                                    .opinion
                                        .opinion-header
                                            .opinion-user-name
                                                | Елена
                                                .product-rating
                                                    .rating
                                                        +stars('3')
                                            .opinion-hint.text-right
                                                | Mar 1, 2017
                                        .text
                                            .line
                                                p
                                                    strong Достоинства:
                                            .line
                                                p
                                                    strong Недостатки:
                                            .line
                                                p
                                                    strong Комментарий:
                                                    |                                                         в общем очень хорошие впечатления о самом аппарате LX7, минусов
                                                    |                                                         не нашла.

                                .product-opinions
                                    .opinion
                                        .opinion-header
                                            .opinion-user-name
                                                | Елена
                                                .product-rating
                                                    .rating
                                                        +stars('5')
                                            .opinion-hint.text-right
                                                | Mar 1, 2017
                                        .text
                                            .col-sm-12
                                                p
                                                    strong Достоинства:
                                            .col-sm-12
                                                p
                                                    strong Недостатки:
                                            .col-sm-12
                                                p
                                                    strong Комментарий:
                                                    |                                                         Хороший аппарат, уже как 10 дней пользуюсь, немного похудела,
                                                    |                                                         вены уменьшились в толщине, да
                                                    |                                                         и ноги не так уставать стали. Молодцы изготовители, дай бог вам
                                                    |                                                         здоровья!

                            .review-form
                                .review-form__line
                                    h3 Оставить отзыв
                                    form#w4(action='/apparaty-dlya-limfodrenazha-i-pressoterapii/limfodrenazhnyy-apparat-doctor-life-dl-lx-7' method='post')
                                        input(type='hidden' name='_csrf' value='TW2snFoedA8Xcj4vPU6vZJcjZeL6HniSkbVnomyuhbp0Ctz6EGsSO3gob2NWJfkN5HYsmqBSHfHa3DLONJjO7Q==')
                                        .form-line
                                            .form-line-sector.form-line-sector_half
                                                .form-group.field-productopinion-name
                                                    label.control-label(for='productopinion-name') Имя
                                                    input#productopinion-name.form-control(type='text' name='ProductOpinion[name]')
                                                    .help-block
                                            .form-line-sector.form-line-sector_half
                                                .form-group.field-productopinion-rating
                                                    label.control-label(for='productopinion-rating') Оценка
                                                    .rating-container.rating-md.rating-animate
                                                        .rating-stars(title='Без рейтинга')
                                                            span.empty-stars
                                                                span.star
                                                                    i.glyphicon.glyphicon-star-empty
                                                                span.star
                                                                    i.glyphicon.glyphicon-star-empty
                                                                span.star
                                                                    i.glyphicon.glyphicon-star-empty
                                                                span.star
                                                                    i.glyphicon.glyphicon-star-empty
                                                                span.star
                                                                    i.glyphicon.glyphicon-star-empty
                                                            span.filled-stars(style='width: 0%;')
                                                                span.star
                                                                    i.glyphicon.glyphicon-star
                                                                span.star
                                                                    i.glyphicon.glyphicon-star
                                                                span.star
                                                                    i.glyphicon.glyphicon-star
                                                                span.star
                                                                    i.glyphicon.glyphicon-star
                                                                span.star
                                                                    i.glyphicon.glyphicon-star
                                                            input#productopinion-rating.form-control.rating-input(type='text' name='ProductOpinion[rating]' data-krajee-rating='rating_c2cd8d65')
                                                    .help-block
                                        .form-line
                                            .form-line-sector.form-line-sector_half
                                                .form-group.field-productopinion-good.required
                                                    label.control-label(for='productopinion-good') Достоинства
                                                    textarea#productopinion-good.form-control.comment-area(name='ProductOpinion[good]' aria-required='true')
                                                    .help-block
                                            .form-line-sector.form-line-sector_half
                                                .form-group.field-productopinion-bad.required
                                                    label.control-label(for='productopinion-bad') Недостатки
                                                    textarea#productopinion-bad.form-control.comment-area(name='ProductOpinion[bad]' aria-required='true')
                                                    .help-block
                                        .form-line
                                            .form-line-sector
                                                .form-group.field-productopinion-comment.required
                                                    label.control-label(for='productopinion-comment') Комментарий
                                                    textarea#productopinion-comment.form-control.comment-area(name='ProductOpinion[comment]' aria-required='true')
                                                    .help-block
                                        .form-line.form-line_center
                                            .form-line-sector.form-line-sector_auto
                                                .form-group.field-productopinion-verifycode
                                                    label.control-label(for='productopinion-verifycode') Verify Code
                                                    input#productopinion-verifycode.form-control(type='hidden' name='ProductOpinion[verifyCode]')
                                                    #productopinion-verifycode-recaptcha-w4.g-recaptcha(data-sitekey='your siteKey' data-input-id='productopinion-verifycode' data-form-id='w4')
                                                        div(style='width: 304px; height: 78px;')
                                                            div
                                                                iframe(src='https://www.google.com/recaptcha/api2/anchor?ar=1&k=your%20siteKey&co=aHR0cDovL213dC5sb2M6ODA.&hl=ru&v=6TWYOsKNtRFaLeFqv5xN42-l&size=normal&cb=yaw8igj2zbx5' width='304' height='78' role='presentation' name='a-exavys2h7m0g' frameborder='0' scrolling='no' sandbox='allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox')
                                                            textarea#g-recaptcha-response.g-recaptcha-response(name='g-recaptcha-response' style='width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;')
                                                        iframe(style='display: none;')
                                                    .help-block
                                        .form-line.form-line_center
                                            .form-line-sector.form-line-sector_auto
                                                .comment-btn
                                                    button.btn(type='submit')
                                                        | Отправить отзыв

            +section_history()
            +section_articles()

    .tooltip_templates
        #tooltip_content_info1
            span help text