extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page'

block head

block header
    +header()

block content

    .section_outer.section_traid
        .section_inner
            .section_header
                h1.section_header_title Traid-in
            .section_wrap
                h2 Мы купим ваше старое массажное оборудование в зачет нового!
                div
                    | Мы бесплатно обменяем Ваше подержанное оборудование на новое от лучших производителей с доплатой, или выкупим его по согласованной цене
                h2 Виды оборудование, участвующие в программе Traid-in
                div
                    ul
                        li
                            | Массажные кресла от брендов Casada, Anatomico, Ego, Ergonova, Fujiiryoki, Inada, iRest, OTO, Panasonic, Richter, Sensa, Takasima,  US Medica, Yamaguchi
                        li Тренажеры
                        li Массажные кровати
                h2 Порядок действий
                .steps_list
                    .steps_list_item.steps_list_item_photo
                        | 1. Сделайте фото или видео оборудования с разных ракурсов, чтобы специалист мог оценить состояние прибора.
                    .steps_list_item.steps_list_item_email
                        | 2. Отправьте их на почту info@mwt.ru либо через приложения WhatsApp, Viber на телефон +7 (962) 485-18-16
                    .steps_list_item.steps_list_item_communications
                        | 3. Наш специалист свяжется с вами, чтобы сделать оценку и договориться об условиях.
                img(src=imgPathOld(`traid_in_bottom.jpg`) alt='')
