include ../components/breadcrumbs
include ../components/filter_category
include ../components/footer
include ../components/gift_category_action
include ../components/gift_category_discount
include ../components/gift_category_not
include ../components/gift_category
include ../components/header
include ../components/modal
include ../components/section_actions
include ../components/section_articles
include ../components/section_categories
include ../components/section_hits
include ../components/section_info_slider
include ../components/section_slider_gift
include ../components/section_history
