@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
.page-list{
    padding: 100px 0;
    ul{
        list-style: none;
    }
    li{
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        transform: scale(.95);
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform-origin: 0 50%;
        font-family: 'Goldman', cursive;
        // &.action
        &:hover
        {
            transform: scale(1.05);

        }
        &:nth-child(1),
        &:nth-child(n + 5){
            a{
                background: url(../img/menu/flame.jpg) -100px -40px repeat-x;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0,0,0,.4);
            }
            &:hover a{
                background-position-y: -80px;
            }

        }
        &:nth-child(2),
        &:nth-child(n + 6){
            a{
                background: url(../img/menu/texture-green.jpg) -100px -40px repeat-x;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0,0,0,.1);
            }
            &:hover a{
                background-position-y: -80px;
            }

        }
        &:nth-child(3),
        &:nth-child(n + 7){
            a{
                background: url(../img/menu/texture-sand.jpg) -100px -40px repeat-x;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0,0,0,.1);
            }
            &:hover a{
                background-position-y: -80px;
            }

        }
        &:nth-child(4),
        &:nth-child(n + 8){
            a{
                background: url(../img/menu/texture-space.jpg) -100px -40px repeat-x;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(0,0,0,.1);
            }
            &:hover a{
                background-position: -120px -50px;
            }

        }
    }
    a{
        transition: all 5s ease-in-out;
        font-size: 114px;
        font-weight: 900;

    }

}
