.nk-product{

    &__grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 15px;
    }
    &__sliders{
        grid-column: span 5;
        grid-row: span 3;
        @include r(767){
            grid-column: span 12;
            grid-row: 2/ span 1;
        }
    }
    &__info-top{
        grid-column: span 4;
        grid-row: span 1;
        @include rIn(768,1023){
            grid-column: span 7;
        }
        @include r(767){
            grid-column: span 12;
            grid-row: 1/ span 1;
        }
    }
    &__description{
        grid-column: span 4;
        grid-row: span 2;
        @include rIn(768,1023){
            grid-column: span 7;
        }
        @include r(767){
            grid-column: span 12;
        }
    }
    &__offer{
        grid-column: 10 / span 3;
        grid-row: 1 / span 3;
        @include rIn(768,1023){
            margin-top: 20px;
            grid-column: 1/span 12;
            grid-row: 4/span 1;
        }
        @include r(767){
            grid-column: span 12;
            grid-row: 3/ span 1;
        }
    }
}

.nk-product{
    @include rmin(768){
        padding: 15px;
        border: 1px solid #e6e6e6;
    }
    &__info-top{
        color: $dark_color;
        h1{
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: 600;
        }
        .line{
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .art{
            font-size: 12px;
            text-transform: uppercase;
        }
        .label{
            margin-left: 7px;
            padding: 2px 5px;
            background-color: $dark_color;
            color: white;
            line-height: 1;
        }
        @include r(767){
            padding: 10px;
            border: 1px solid $light_color;
            border-bottom: 0;
        }

    }
    &__sliders{
        @include r(767){
            padding: 10px;
            border: 1px solid $light_color;
            border-bottom: 0;
            border-top: 0;
        }
    }
    &__info-top,
    &__description{
        @include rmin(1024){
            padding-left: 15px;
        }
    }
    &__compare{
        color: $light_color;

    }
    &__text{
        margin-top: 15px;
        font-size: 14px;
        line-height: 1.6;
        strong + p{
            margin-top: 0;
        }
    }
    .svg-icon{
        display: inline-block;
        fill: $light_color;
        &_check{
            margin-right: 5px;
            width: 12px;
            height: 10px;
        }
        &_hand{
            margin-right: 7px;
            width: 15px;
            height: 15px;
        }
    }
    &__low-price{
        margin-bottom: 15px;
        display: flex;
        font-weight: 600;
        flex-flow: row wrap;
        align-items: center;
    }
    &__info-list{
        @extend %reset-list;
        line-height: 1;
        li{
            margin-bottom: 1rem;
        }
        a{
            font-size: 12px;
            font-weight: 400;
            text-decoration: underline;
            color: $dark_color;
        }
    }
    &__offer{
        margin: -15px -16px -15px 0;
        padding: 15px;
        border: 1px solid $light_color;
        @include r(767){
            margin: 0 0 20px;
            padding: 10px;
            border: 1px solid $light_color;
            border-top: 0;
        }
    }
    &__prices{
        margin-bottom: 5px;
        .prices_old{
            font-size: 16px;
            text-decoration: line-through;
        }
        .prices_new{
            font-size: 26px;
            font-weight: 700;
        }
        @include r(767){
            display: flex;
            align-items: flex-end;
            .prices_old{
                margin-right: 10px;
                position: relative;
                transform: translateY(-2px);
            }
        }
    }
    .footnote-icon{
        color: $light_color;
        font-style: normal;
    }
    &__labels{
        .label{
            display: inline-block;
            margin-right: 5px;
            padding: 4px 8px;
            line-height: 1;
            border-radius: 4px;
            font-size: 12px;
            &_blue{
                background-color: $light_color;
                color: white;
            }
            &_white{
                background-color: transparent;
                color: $light_color;
                border: 1px solid;
            }
        }
    }
    &__footnote{
        display: block;
        padding: 10px 0 25px;
        font-size: 11px;
        line-height: 1.2;
        .footnote-icon{
            font-size: 25px;
            line-height: 10px;
            width: 10px;
            height: 10px;
            display: inline-block;
            transform: translateY(10px);
        }
    }
    &__btns{
        a{
            margin-bottom: 20px;
            display: flex;
            width: 100%;
            min-height: 42px;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            transition: all $transition-base;
            &.nk-product__add_button{
                background-color: $light_color;
                color: $color-white;
                &:hover{
                    background-color: darken($light_color,10%);
                }
            }
            &.nk-product__oneclick_button{
                color: $light_color;
                border: 1px solid ;
                background-color: transparent;
                &:hover{
                    background-color: darken($light_color,10%);
                    color: $color-white;
                }
            }
            &.nk-product__compare_button{
                font-size: 15px;
                background-color: lighten($light_color, 15%);
                color: $color-white;
                .icon-info{
                    margin-left: 5px;
                    color: $dark_color;
                }
                &:hover{
                    background-color: darken($light_color,10%);
                }
            }
        }
    }
    &__gift{
        margin-top: 30px;
        .title{
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 500;
        }
        .gifts{
            img{
                max-width: 60px;
                &:nth-child(1){
                    margin-right: 10px;
                }
            }
        }
        a{
            text-decoration: none;
            span{
                font-size: 14px;
                color: $dark_color;
                text-decoration: underline;
            }
            .price{
                margin-top: 5px;
                font-size: 18px;
                font-weight: 700;
                color: $color-black;
            }
        }
        @include r(767){
            display: flex;
            flex-flow: row wrap;
            .title{
                flex: 1 1 100%;
            }
            .gifts{
                flex: 1 1 auto;
            }
            a{
                flex: 1 1 58%;
                max-width: 58%;
                margin-top: -34px;
            }
        }
    }
}


.product-tabs{
    margin-top: 60px;
    @include r(767){
        margin-top: 30px;
    }
    .tabs-header{
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        min-height: 52px;
        background-color: #e9eaf4;
        a{
            padding: 15px;
            color: $light_color;
            font-size: 16px;
            text-decoration: none;
            &.is-active{
                color: $dark_color;
            }
        }
        @include r(767){
            flex-flow: row wrap;
            background-color: transparent;
            border: 1px solid $light_color;
            a{
                flex: 1 1 100%;
                color: #767e85;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 9px;
                    height: 9px;
                    border-left: 2px solid #767e85;
                    border-bottom: 2px solid #767e85;
                    transform: rotate(-45deg);
                    right: 5%;
                    top: 38%;

                }
                &:not(:last-child){
                    padding: 12px 10px;
                    border-bottom: 1px solid $light_color;
                }
                &.is-active{
                    color: $light_color;
                }
            }
        }
    }
    .tabs-inner{
        font-size: 12px;
        line-height: 1.5;
        color: #010101;
        .two-col-wrapper{
            @include rmin(1024){
                column-count: 2;
                column-gap: 50px;
            }
        }
        h2{
            margin-bottom: 10px;
            font-size: 18px;
        }
        h3{
            margin-bottom: 10px;
            font-size: 15px;
        }
        h4{
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 700;
        }
        iframe{
            margin-bottom: 15px;
            display: block;
            max-width: 100%;
        }
        .reviews-title{
            font-size: 32px;
            font-weight: 500;
        }
        &__block{
            display: none;
            &.is-active{
                display: block;
            }
        }
    }
}

.product-spec{
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    &:nth-child(odd){
        .product-spec-name,
        .product-spec-value{
            background-color: #f2f3f9;
        }
    }
    &-name{
        padding: 10px 15px;
        flex: 0 0 300px;
        font-weight: 700;
    }
    &-value{
        padding: 10px 15px;
        flex: 1;
    }
    @include r(767){
        flex-flow: row wrap;
        &-name,
        &-value{
            margin: 0;
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}
.prop-group-title{
    margin: 20px 0 10px;
    font-size: 18px;
    font-weight: 700;
}
.opinion{
    padding: 25px 0 15px;
    border-bottom: 1px solid #d6f0f9;
}
.opinion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .opinion-user-name{
        display: flex;
        font-size: 18px;
    }
    .product-rating{
        margin-left: 35px;
    }
}
.review-form{
    padding-top: 45px;
    h3{
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 600;
        color: $light_color;
    }
    .form-line{
        display: flex;
        width: 100%;
        align-items: center;
        @include r(767){
            flex-flow: row wrap;
        }
        &_center{
            justify-content: center;
        }
        &-sector{
            flex: 1 1 100%;
            max-width: 100%;
            &_half{
                @include rmin(768){
                    flex: 1 1 calc(50% - 15px);
                    max-width: calc(50% - 15px);
                    &:nth-child(2){
                        margin-left: 30px;
                    }
                }
            }
            &_auto{
                flex: 0 0 auto;
            }
        }
    }
    .form-group {
        margin-bottom: 20px;
    }
    .control-label{
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        color: #939598;
    }
    .form-control{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        resize: vertical;
        &.comment-area{
            min-height: 88px;
        }
    }
    .comment-btn{
        .btn{
            margin-bottom: 20px;
            display: flex;
            width: 100%;
            min-height: 42px;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            border-radius: 5px;
            transition: all $transition-base;
            min-width: 300px;
            background-color: $light_color;
            color: $color-white;
            &:hover{
                background-color: darken($light_color,10%);
            }

        }
    }
}