.sliderActions__slider,
.slickslider__hits{
    div{
        height: 100%;
    }
    .item_inner{
        min-height: 290px;
    }
    .action_date,
    .introtext {
        margin-top: 20px;
        font-size: 12px;
        font-family: GothamProLight;
    }
}

.nk-product{
    &__slider_big,
    &__slider_small{
        .slick-slide > div{
            width: 100%;
            @include aspect-ratio(100,100,true);
            img{
                display: block;
                @include abs-center;
                max-width: 90%;
                max-height: 90%;
                object-fit: cover;
                mix-blend-mode: multiply;
            }
        }
        &:not(.slick-initialized){
            img:not(:first-child){
                display: none;
            }
        }
    }

    &__slider_big{
        margin-bottom: 20px;
        .slick-slide > div{
            background-color: #f8f8fd;
            img{
                max-width: 90%;
                max-height: 90%;
                mix-blend-mode: multiply;
            }
        }
    }

    &__slider_small{
        width: 100%;
        .slick-slide {
            padding-right: 7px;
            & > div{
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}