mixin breadcrumbs(data)
    - data = data || {}
    .section_outer.section_breadcrambs
        .section_inner
            ul.breadcrumb
                li
                    a(href='/') Главная
                li
                    a(href='/massazhnoe-oborudovanie') Массажное оборудование
                li.active Массажные кресла
