mixin filter_category(data)
    - data = data || {}
    #app_filter
        form#filter(method='GET' action='/massazhnye-kresla')
            .filter
                .header
                    span.jslink.filter-toggle(v-on:click='show=!show') Подбор по параметрам
                .filter-body(v-bind:class='{ open: show }')
                    .option
                        .option-body
                    .option
                        .option-header Со скидкой
                        .option-body
                            label.checkbox
                                input(type='checkbox' name='ProductsList[discount]')
                                span
                                    a(href='/massazhnye-kresla/so-skidkoj' title='Массажные кресла со скидкой') Да
                    .option
                        .option-header Бренды
                        .option-body
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='185')
                                span
                                    a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                        | Ergonova
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='364')
                                span  Richter
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='5')
                                span
                                    a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='185')
                                span
                                    a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                        | Ergonova
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='364')
                                span  Richter
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='5')
                                span
                                    a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='185')
                                span
                                    a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                        | Ergonova
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='364')
                                span  Richter
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='5')
                                span
                                    a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='185')
                                span
                                    a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                        | Ergonova
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='364')
                                span  Richter
                            label.checkbox
                                input(type='checkbox' name='ProductsList[brands][]' value='5')
                                span
                                    a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                            .show-hide
                                a.link.link-show(href='javascript:;') Показать все
                                a.link.link-hide(href='javascript:;') Только популярные
                        input(type='hidden' name='ProductsList[sort]')
                        .option
                            .option-header Цена
                            .option-body
                                label.price-from
                                    | от
                                    input(type='text' name='ProductsList[priceFrom]' value='56990')
                                label.price-to
                                    | до
                                    input(type='text' name='ProductsList[priceTo]' value='1195000')
                        .option
                            .option-header Тип
                            .option-body
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='185')
                                    span
                                        a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                            | Ergonova
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='364')
                                    span  Richter
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='5')
                                    span
                                        a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='185')
                                    span
                                        a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                            | Ergonova
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='364')
                                    span  Richter
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='5')
                                    span
                                        a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='185')
                                    span
                                        a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                            | Ergonova
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='364')
                                    span  Richter
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='5')
                                    span
                                        a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                            .show-hide
                                a.link.link-show(href='javascript:;') Показать все
                                a.link.link-hide(href='javascript:;') Только популярные
                        .option
                            .option-header Зоны массажа
                            .option-body
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='185')
                                    span
                                        a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                            | Ergonova
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='364')
                                    span  Richter
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='5')
                                    span
                                        a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='185')
                                    span
                                        a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                            | Ergonova
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='364')
                                    span  Richter
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='5')
                                    span
                                        a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='185')
                                    span
                                        a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                            | Ergonova
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='364')
                                    span  Richter
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='5')
                                    span
                                        a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                            .show-hide
                                a.link.link-show(href='javascript:;') Показать все
                                a.link.link-hide(href='javascript:;') Только популярные
                        .option
                            .option-header Виды массажа
                            .option-body
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='185')
                                    span
                                        a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                            | Ergonova
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='364')
                                    span  Richter
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='5')
                                    span
                                        a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                            .show-hide
                                a.link.link-show(href='javascript:;') Показать все
                                a.link.link-hide(href='javascript:;') Только популярные
                        .option
                            .option-header Положение нулевой гравитации
                            .option-body
                                .radio-button-list
                                    label
                                        input(type='radio' name='ProductsList[p][3][value]' value='Y')
                                        a(href='/massazhnye-kresla/zero' title='Массажные кресла с нулевой гравитацией (ZERO)') Да
                                    label
                                        input(type='radio' name='ProductsList[p][3][value]' value='N')
                                        |  Нет
                                    label
                                        input(type='radio' name='ProductsList[p][3][value]' value='' checked='')
                                        |                                 Неважно
                        .option
                            .option-header Число автоматических программ
                            .option-body
                                .range
                                    .range-type
                                        select(name='ProductsList[p][4][value][type]')
                                            option(value='range') от
                                            option(value='equals') равно
                                    .range-value
                                        .from-to
                                            input.range-value-from(type='text' name='ProductsList[p][4][value][from]' value='')
                                            |  до
                                            input.range-value-to(type='text' name='ProductsList[p][4][value][to]' value='')
                                        .equals.range-value-hidden
                                            input.range-value-equals(type='text' name='ProductsList[p][4][value][equals]' value='')
                        .option
                            .option-header Цвет
                            .option-body
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='185')
                                    span
                                        a(href='/massazhnye-kresla/ergonova' title='Массажные кресла Ergonova')
                                            | Ergonova
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='364')
                                    span  Richter
                                label.checkbox
                                    input(type='checkbox' name='ProductsList[brands][]' value='5')
                                    span
                                        a(href='/massazhnye-kresla/sensa' title='Массажные кресла Sensa') Sensa
                            .show-hide
                                a.link.link-show(href='javascript:;') Показать все
                                a.link.link-hide(href='javascript:;') Только популярные
                        .option
                            .option-header Таймер
                            .option-body
                                .radio-button-list
                                    label
                                        input(type='radio' name='ProductsList[p][40][value]' value='1')
                                        span
                                            a(href='/massazhnye-kresla/s-tajmerom' title='Массажные кресла с таймером') Да
                                    label
                                        input(type='radio' name='ProductsList[p][40][value]' value='N')
                                        span Нет
                                    label
                                        input(type='radio' name='ProductsList[p][40][value]' value='d' checked='')
                                        span Неважно
                        .option
                            .option-header Автоматическое отключение
                            .option-body
                                .radio-button-list
                                    label
                                        input(type='radio' name='ProductsList[p][42][value]' value='Y')
                                        span
                                            a(href='/massazhnye-kresla/s-avtomaticheskim-otkljucheniem ' title='Массажные кресла с автоматическим отключением ') Да
                                    label
                                        input(type='radio' name='ProductsList[p][42][value]' value='N')
                                        span Нет
                                    label
                                        input(type='radio' name='ProductsList[p][42][value]' value='' checked='')
                                        span  Неважно
                    .buttons
                        a.button(href='/massazhnye-kresla/filter') Все характеристики
                        button.button.button-search(type='submit') Применить
                        a.button(href='/massazhnye-kresla') Сбросить параметры
