mixin footer(data)
    - data = data || {}
    footer#app_footer.section_outer
        .section_inner
            .top_line
                .icons
                    a.fb(href='')
                    a.vk(href='')
                    a.email(href='')
                    a.tg(href='')
                .subscribe
                    span.title
                        span Подпишись
                        span  на акции и спецпредложения
                    form#subscribe(action='')
                        input(type='email' name='' id='' placeholder='Ваш email')
                        button Отправить
            .bottom_line
                ul.footer_column
                    li.footer_column_link
                        a(href='http://') О компании
                    li.footer_column_link
                        a(href='/action.html') Акции
                    li.footer_column_link
                        a(href='/article.html') Журнал
                ul.footer_column
                    li.footer_column_link
                        a(href='http://') Доставка
                    li.footer_column_link
                        a(href='http://') Сервис
                    li.footer_column_link
                        a(href='http://') Возврат товара
                    li.footer_column_link
                        a(href='http://') Гарантия
                ul.footer_column
                    li.footer_column_link
                        a(href='http://') Оплата
                    li.footer_column_link.border_bottom
                        a(href='http://') Рассрочка
                    li.footer_column_link
                        | Мы принимаем к оплате
                        br
                        a(href='http://article.html') Visa
                        a(href='http://article.html') Mastercard
                        a(href='http://article.html') Мир
                .footer_column
                    .footer_column_contact
                        a.footer_column_contact_link(href='http://') 8-800-700-75-55
                        |                     - Бесплатная горячая линия
                    .footer_column_contact
                        a.footer_column_contact_link(href='http://') info@mwt.ru
                        |                     - Общая информация
                    .footer_column_contact
                        a.footer_column_contact_link(href='http://') sale@mwt.ru
                        |                     - Отдел продаж
                    .footer_column_contact
                        a.footer_column_contact_link(href='http://') info@mwt.ru
                        |                     - Отдел по работе с клиентами
                    .footer_column_contact
                        a.footer_column_contact_link(href='http://') service@mwt.ru
                        |                     - Сервисный центр
