mixin gift_category_not(data)
    - data = data || {}
    .product_item
        .product_item__img
            a(href='#')
                img(src=imgPathOld('action1.jpg') alt='' srcset='')
        .product_item__title
            a(href='#') Массажное кресло DreamWave (OHCO) M.8 Pearl
        .product_item__prices
        .product_item__prices
        .product_item__not_available Нет в наличии
        .product_item__compare
            a(href='')  Сравнить
