mixin gift_category(data)
    - data = data || {}
    .product_item
        div
            .product_item__img
                a(href='#')
                    img(src=imgPathOld(`action1.jpg`) alt='')
            .product_item__title
                a(href='#') Массажное кресло DreamWave (OHCO) M.8 Pearl
            .product_item__prices
                .product_item__prices_old  410 000 ₽
                .product_item__prices_now 325 000 ₽
            .product_item__labels
                .label.label_blue -10%
                .label.label_white выгода 10 000
        div
            .product_item__add_button
                a(href='#') В корзину
            .product_item__oneclick_button
                a(href='#') Купить в один клик
            .product_item__compare
                a(href='')  Сравнить