mixin header(data)
    - data = data || {}
    header#app_header
        .section_outer.top_line
            .section_inner
                .header_catalog
                    .header_catalog_list_button
                        span.desktop
                            | Каталог товаров
                        span.mobile(v-on:click="menu_open=!menu_open")
                            | Меню сайта
                        i.menu-trigger
                    ul.nav-bar(v-bind:class='{ open: menu_open }')
                        li.first
                            a(href='#') Первый пункт
                            ul
                                li
                                    a(href='#') подперый
                                li
                                    a(href='#') подперый
                #header_drop_menu_city.header_city_change
                    a.header_city_change_title(href='#' v-on:click='city_open=!city_open')
                        span  Москва
                        span.caret
                    ul.dropdown-menu(v-if='city_open')
                        li(role='presentation')
                            a(role='menuitem' href='#') Москва
                        li(role='presentation')
                            a(role='menuitem' href='#') Самара
                        li(role='presentation')
                            a(role='menuitem' href='#') Екатеринбург
                .header_contact_info
                    .header_contact_info_phones
                        .left
                            a(href='tel:88007007556') 8-800-700-75-56
                            a(href='tel:8-495-755-1627') 8-495-755-1627
                        .right
                            .top
                                | ежедневно
                            .bottom
                                | с 10 до 20
                #header_drop_menu_help.header_info_nav
                    a.header_info_nav_title(href='#' v-on:click='help_open=!help_open')
                        span  Помощь
                        span.caret
                    ul.dropdown-menu(v-if='help_open')
                        li(role='presentation')
                            a(role='menuitem' href='#') Москва
                        li(role='presentation')
                            a(role='menuitem' href='#') Самара
                        li(role='presentation')
                            a(role='menuitem' href='#') Екатеринбург
                .header_basket
                    .basket_text
                        span.top 358 товаров
                        span.bottom На сумму 300 000 р.
        .section_outer.bottom_line
            .section_inner
                a.header_logo(href='')
                    img(src=imgPathOld('mwtru.svg') alt='' srcset='' width='100px' height='100px')
                    span.nowrap интернет -  магазин
                .header_search
                    form(action='')
                        input(type='text' placeholder='Что ищем?')
                        button(type='submit')
                a.send_letter(href='#')
                    | Письмо директору
                .header_basket
                    .count !
