mixin section_categories(data)
    - data = data || {}
    .section_outer.section_categories
        .section_inner
            .section_categories_wrap
                .section_categories_wrap_column
                    .item.item_bg.item_left
                        .item_content
                            .item_content_header
                                a.item_content_header_title(href='') Массажные кресла
                                ul.item_content_header_list
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                            .item_image
                                img(src=imgPathOld(`catalog1.jpg`) alt='')
                            .item_content_bottom
                                .item_content_bottom_title Детское эргономичное кресло Comf-Pro Galileo
                                .item_content_bottom_price 490 000 P
                    .item.item_md.item_right
                        .item_content
                            .item_content_header
                                a.item_content_header_title(href='') Офисные кресла
                                ul.item_content_header_list
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                            .item_image
                                img(src=imgPathOld(`catalog2.jpg`) alt='')
                            .item_content_bottom
                                .item_content_bottom_title Детское эргономичное кресло Comf-Pro Galileo
                                .item_content_bottom_price 490 000 P
                    .item.item_md.item_left
                        .item_content
                            .item_content_header
                                .item_content_header_title Офисные кресла
                                ul.item_content_header_list
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                            .item_content_bottom
                                .item_content_bottom_title Детское эргономичное кресло Comf-Pro Galileo
                                .item_content_bottom_price 490 000 P
                        .item_image
                            img(src=imgPathOld(`catalog3.jpg`) alt='')
                .section_categories_wrap_column
                    .item.item_md.item_right
                        .item_content
                            .item_content_header
                                .item_content_header_title Офисные кресла
                                ul.item_content_header_list
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                            .item_content_bottom
                                .item_content_bottom_title Детское эргономичное кресло Comf-Pro Galileo
                                .item_content_bottom_price 490 000 P
                        .item_image
                            img(src=imgPathOld(`catalog4.jpg`) alt='')
                    .item.item_md.item_left
                        .item_content
                            .item_content_header
                                .item_content_header_title Офисные кресла
                                ul.item_content_header_list
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                            .item_content_bottom
                                .item_content_bottom_title Детское эргономичное кресло Comf-Pro Galileo
                                .item_content_bottom_price 490 000 P
                        .item_image
                            img(src=imgPathOld(`catalog5.jpg`) alt='')
                    .item.item_bg.item_left
                        .item_content
                            .item_content_header
                                .item_content_header_title Офисные кресла
                                ul.item_content_header_list
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                                    li.item_content_header_list_item
                                        a.item_content_header_list_item_link(href='#') Для дома
                            .item_content_bottom
                                .item_content_bottom_title Детское эргономичное кресло Comf-Pro Galileo
                                .item_content_bottom_price 490 000 P
                        .item_image
                            img(src=imgPathOld(`catalog6.jpg`) alt='')
