mixin section_hits(data)
    - data = data || {}
    .section_outer.section_hits.slickslider
        .section_inner
            .section_header
                .section_header_title Хиты продаж
                a.section_header_title_link(href='#')
                    span все хиты

            -
                var slider = [
                    {
                        text: 'Суперскидки на велосипеды',
                        old: '689 000P',
                        new: '490 000P',
                        labels: true,
                        label1: '-10%',
                        label2: 'выгода 10 000'
                    },

                    {
                        text: 'Суперскидки на велосипеды',
                        old: '689 000P',
                        new: '490 000P',
                        labels: true,
                        label1: '-10%',
                        label2: 'выгода 10 000'
                    },

                    {
                        text: 'Суперскидки на велосипеды',
                        old: '689 000P',
                        new: '490 000P',
                        labels: false,
                        label1: '-10%',
                        label2: 'выгода 10 000'
                    },

                    {
                        text: 'Суперскидки на велосипеды',
                        old: '689 000P',
                        new: '490 000P',
                        labels: false,
                        label1: '-10%',
                        label2: 'выгода 10 000'
                    },

                ]

            .slickslider__hits
                - for (var x = 0; x < 3; x++)
                    each item, i in slider
                        .item
                            .item_inner
                                img(src=imgPathOld(`hit${i+1}.jpg`) alt='')
                                a.title(href='#')!=item.text
                                .item_inner_price
                                    span.item_inner_price_old!=item.old
                                    span.item_inner_price_now!=item.new
                                if(labels)
                                    .labels
                                        .label.label_blue!=item.label1
                                        .label.label_white!=item.label2

                //slick(ref='slick' :options='slickOptions' @afterchange='handleAfterChange' @beforechange='handleBeforeChange' @breakpoint='handleBreakpoint' @destroy='handleDestroy' @edge='handleEdge' @init='handleInit' @reinit='handleReInit' @setposition='handleSetPosition' @swipe='handleSwipe' @lazyloaded='handleLazyLoaded' @lazyloaderror='handleLazeLoadError')
