mixin section_slider_gift(data)
    - data = data || {}
    #giftSlider.section_outer.section_slider_gift(style='text-align: center;')
        //- slick(ref='slick' :options='slickOptions' @afterchange='handleAfterChange' @beforechange='handleBeforeChange' @breakpoint='handleBreakpoint' @destroy='handleDestroy' @edge='handleEdge' @init='handleInit' @reinit='handleReInit' @setposition='handleSetPosition' @swipe='handleSwipe' @lazyloaded='handleLazyLoaded' @lazyloaderror='handleLazeLoadError')
        img(src=imgPathOld(`slider_gift.jpg`) alt='')
        img(src=imgPathOld(`slider_gift.jpg`) alt='')