mixin section_actions(data)
    - data = data || {}
    .section_outer.section_actions.sliderActions
        .section_inner
            .section_header
                .section_header_title Акции
                a.section_header_title_link(href='#')
                    span все акции

            -
                var slider = [
                    {
                        text: 'Скидки от 10% на товары от Yamaguchi, US Medica и Anatomico.',
                        date: 'Действует до 31 декабря 2016'
                    },
                    {
                        text: 'Суперскидки на велосипеды',
                        date: 'Действует до 31 декабря 2016'
                    },
                    {
                        text: 'Лучшие цены на массажные кресла',
                        date: 'Действует до 31 декабря 2016'
                    },
                    {
                        text: 'Успейте купить офисное кресло Comfort с приятной скидкой 10%',
                        date: 'Действует до 31 декабря 2016'
                    },
                    {
                        text: 'Успейте купить офисное кресло Comfort с приятной скидкой 10%',
                        date: 'Действует до 31 декабря 2016'
                    },
                ]


            .sliderActions__slider
                each item, i in slider
                    .item
                        .item_inner
                            img(src=imgPathOld(`action${i+1}.jpg`) alt='' srcset='')
                            a.title(href='#')!=item.text
                            .introtext!=item.date
                //- slick(ref='slick' :options='slickOptions' @afterchange='handleAfterChange' @beforechange='handleBeforeChange' @breakpoint='handleBreakpoint' @destroy='handleDestroy' @edge='handleEdge' @init='handleInit' @reinit='handleReInit' @setposition='handleSetPosition' @swipe='handleSwipe' @lazyloaded='handleLazyLoaded' @lazyloaderror='handleLazeLoadError')
