@import "utils/mixins";

body header .bottom_line{
    margin-bottom: 0;
}
body .section_outer.section_breadcrambs{
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    @include r(767){
        margin-top: 10px;
        padding: 0;
    }
}
.breadcrumb{
    @include r(767){
        display: block !important;
        padding: 10px 15px;
        background-color: #efeff6;
        list-style: none;
    }
    li{
        &:first-child{
            a::before,
            a::after{
                left: 0px;
                width: calc(100% + 6px);
            }
        }
        &:not(:first-child){
            a::before,
            a::after{
                left: -6px;
                width: calc(100% + 12px);
            }
        }
        @include r(767){
            display: none;
            font-size: 14px;
            a{
                color: #777d83;
            }
            &:nth-last-child(-n+2){
                display: block;
            }
            &:last-child{
                display: none;
            }
        }
    }
    a{
        position: relative;
        &::before,
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #c4d0dd;
            z-index: 0;
        }
        &::before{
            z-index: 1;
            background-color: darken(#c4d0dd, 20%);
            transform-origin: 0 50%;
            transform: scaleX(0);
            transition: all .5s ease-in-out;
        }
        &:hover{
            &::before{
                transform: scaleX(1);
            }
        }

    }

}

