
#app_filter {
    width: 220px;
    min-width: 220px;;
    flex-basis: 220px;

    .jslink  {
        font-family: $medium;
        font-size: 14px;
        display: block;
        padding: 0 5px;
        line-height: 30px;
        color:white;
        height: 30px;
        background-color: $dark_color;
        text-align: center;
    }

    .filter-body {
      // padding-top: 20px;
    }


    .buttons>a,
    .buttons>button  {
      display: block;
      padding: 15px 0;
      width:100%;
      text-align: center;
      font-size: 14px;
      font-family:$medium;
      font-weight: normal;
      border: 1px solid $light_color;
      border-radius: 4px;
      margin-top: 5px;
      color: $light_color;
    }

    .buttons>button  {
      background-color: $light_color;
      color:white;
    }




    .option {
        padding: 15px 0 10px 0;
        border-bottom: 1px solid #e6e6e6;
        .option-header {
            font-size: 14px;
            font-family: $medium;
            text-transform: uppercase;
        }

        .show-hide {
          .link {
            font-size: 14px;
            text-transform: lowercase;
            border-bottom: 1px dashed $light_color;
            display: inline-block;
          }
        }

        .option-body {
          padding-top:10px;

            /* для элемента input c type="radio" */
            label>input {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }

        label,
        label>span,
        label>span>a {
          font-size: 12px;
          line-height: 23px;
          font-family: $medium;
          color: $dark_color;
        }

        .radio-button-list {
          display: flex;
          justify-content: space-between;
        }

          /* для элемента label связанного с .custom-radio */
        label>span {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }

        /* создание в label псевдоэлемента  before со следующими стилями */
        label>span::before {
            content: '';
            display: inline-block;
            width: 23px;
            height: 23px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $light_color;
            border-radius: 50%;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

        /* стили при наведении курсора на радио */
        label>input:not(:disabled):not(:checked)+span:hover::before {
          border-color: #b3d7ff;
        }

        /* стили для активной радиокнопки (при нажатии на неё) */
        label>input:not(:disabled):active+span::before {
          background-color: #b3d7ff;
          border-color: #b3d7ff;
        }

        /* стили для радиокнопки, находящейся в фокусе */
        label>input:focus+span::before {
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
        label>input:focus:not(:checked)+span::before {
          border-color: $light_color;
        }

        /* стили для радиокнопки, находящейся в состоянии checked */
        label>input:checked+span::before {
          border-color: #31b2e1;
          background-color:white;
          background-position: center center;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18px 18px" width="18px" height="18px"> <circle r="8px" cx="9px" cy="9px" fill="#31b2e1"/> </svg>');
        }

        /* стили для радиокнопки, находящейся в состоянии disabled */
        label>input:disabled+span::before {
          background-color: #e9ecef;
        }


        label.checkbox {
          display: block;
          margin-bottom: 5px;
        }

        /* создание в label псевдоэлемента  before со следующими стилями */
        label.checkbox>span::before {
          border-radius: 2px;
          width:17px;
          height: 17px;

      }
        /* стили для чекбокса, находящегося в состоянии checked */
        label.checkbox>input:checked+span::before {
          border-color: #31b2e1;
          background-color: white;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#31b2e1' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

        // /* стили для чекбокса, находящегося в состоянии disabled */
        label.checkbox>input:disabled+span::before {
          background-color: #e9ecef;
        }




        .range {
          display: flex;
          justify-content: space-between;
          .range-type {
          select {
              width:48px;
              height: 28px;
              border: 1px solid $light_color;
              border-radius: 3px;
              color: $dark_color;
          }
        }

        .range-value {
          .from-to {
            display: flex;
            justify-content: space-between;
            width: 144px;
            font-size: 12px;
            color: $dark_color;
            line-height:28px;
            input {
              width:47px;
              height: 24px;
              border: 1px solid $light_color;
              border-radius: 3px;
              color: $dark_color;
            }
        }
      }

          .equals {
            display: none;
          }

        }


    }
  }
}


.section_category {
  .section_inner {
    display:flex;
    justify-content: space-between;

    .main {
      min-width: 730px;
      flex-basis: 730px;


      .sorting {
        display: flex;
        padding: 5px 20px;
        margin: 20px 0;
        background-color: #e9eaf4;

        a, span {
          padding: 15px 20px;
          font-size: 14px;
          font-family: $medium;
          color:$light_color;
          &.active {
            color:white;
            background-color: $light_color;
          }
        }

    }

    }


    .category_list {
      margin-top: 30px;
      width:730px;
      display: flex;
      flex-direction:row;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}


.product_item {
  height: auto;
  flex-basis: 220px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:5px;
  padding-bottom: 5px;
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;;
  border: 1px solid #e6e6e6;

  &__flags {
    display: block;
    position: absolute;
    top:10px;
    left:10px;
    padding:5px 8px;
    color:white;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    &.action {
      background-color: $dark_color;
    }
    &.discount {
      background-color: #036f05;
    }
  }



  &__img {
    width:220px;
    height: auto;
  }
  &__title a{
      font-size: 14px;
      color: $dark_color;
      font-family: $medium;
      border-bottom: 1px solid rgba(0,0,0,0);
      &:hover {
          border-bottom: 1px solid #a8a8a8;
      }
  }

  &__prices {
    margin-top:10px;
      display: flex;
      flex-direction: column;
      &_old {
          font-family: $regular;
          font-size: 16px;
          line-height: 16px;
      }
      &_now {
          font-family: $medium;
          font-size: 26px;
          line-height: 26px;
      }
  }

  &__not_available {
    padding: 30px 0 20px 0;
    text-align: center;
    font-family: $medium;
    font-size: 24px;
    color:#7d7d7d;

  }



  &__labels {
    margin-top:5px;
    display: flex;
    height: 20px;
    .label {
        border: 1px solid $light_color;
        border-radius: 4px;
        margin-left: 5px;
        font-size: 12px;
        font-family: $medium;
        height: 20px;
        line-height: 20px;
        padding:0 8px;
        &_blue {
            background: $light_color;
            color:white;
        }
        &_while {
            background: white;
            color:$light_color
        }
    }
  }
  &__add_button a,
  &__oneclick_button a {
    display: block;
    padding: 15px 0;
    width:100%;
    text-align: center;
    font-size: 16px;
    font-family:$medium;
    font-weight: normal;
    border: 1px solid $light_color;
    border-radius: 4px;
    margin-top: 5px;
    color: $light_color;
  }

  &__add_button a {
    background-color: $light_color;
    color:white;
    background-image: url("../../assets/img/old/basket.png");
    background-repeat: no-repeat;
    background-position: 40px center;
  }

  &__compare a {
    padding: 5px 5px 5px 50px;
    display: block;
    font-family: $bold;
    text-transform: lowercase;
    color:$light_color;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#31b2e1' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 60px center;
    text-align: center;

  }



}

.pagination-box {
  margin: 30px 0;
  height: 55px;
  width: 100%;
  background-color:#e9eaf4;
  display: flex;
  flex-direction: column;
  justify-content: center;

  ul.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      a, span {
        width:39px;
        height:39px;
        line-height: 39px;
        text-align: center;
        font-size: 18px;
        font-family: $medium;
        color: $light_color;
        display: block;
      }
      &.active a {
        background-color: white;
      }
      &.active a {
          background-color: white;
      }
    }

  }

}

@media screen and (max-width: 900px) {
  .breadcrumb {
    display: none;
  }

.section_outer.section_category {
  .section_inner {
    flex-direction: column;

    #app_filter {
      width:100%;
      height: auto;
      flex-basis: auto;
        .filter-toggle {
        cursor: pointer;
      }
      .filter-body {
        display: none;
        &.open {
          display: block;
        }
      }

    }



  }

}
  .section_category {
    .section_inner {
      .main {
        min-width: 300px;
        flex-basis: auto;
        width: 100%;

        .sorting {
            flex-direction: column;
            padding: 0;
            background: none;
            a {
              color: $dark_color;
              border:1px solid $light_color;
            }
            span {
              color: $dark_color;
            }
        }


        .category_list {
            width: auto;
            justify-content: center;

            .product_item {
              // min-height: 650px;
              max-height: auto;
              flex-basis: 220px;
              &__img {
                width:100%;
                height: auto;
                text-align: center;
                img {
                  width:170px;
                }
              }
            }
        }
      }
    }
  }




}