footer {
    .top_line {
        display: flex;
        .icons {
            display: flex;
            a {
                width: 32px;
                height:32px;
                display: block;
                background-color: $light_color;
                background-repeat: no-repeat;
                background-position: center center;
                margin-right: 5px;
            }
            .vk {
                background-image: url('../../assets/img/old/icon_vk.png');
            }
            .fb {
                background-image: url('../../assets/img/old/icon_fb.png');
            }
            .email {
                background-image: url('../../assets/img/old/icon_email.png');
            }
            .tg {
                background-image: url('../../assets/img/old/icon_tg.png');
            }
        }
        .subscribe {
            display: flex;
            .title {
                align-self: center;
            }
            form {
                display: flex;
                input {
                    display: block;
                    background: white;
                    padding: 1px 15px;
                }
                button {
                    display: block;
                    background: $light_color;
                    color: white;
                }
            }
        }


    }
    .bottom_line {
        display: flex;
        ul.footer_column {
            list-style: none;
        }
        .footer_column {
            display: flex;
            &_link {
                font-family: $regular;
                a {
                    color:$light_color;
                    border-bottom: 1px solid #d6f0f9;
                }
            }
            &_contact {
                font-family: $regular;
                &_link {
                    color:$light_color;
                }
            }
        }

    }
}


@media screen and (min-width: 900px) {
footer {
    .top_line {
        height: 80px;
        border-top: 2px solid #d6f0f9 ;
        border-bottom: 2px solid #d6f0f9 ;
        flex-direction: row;
        justify-content: space-between;
        padding:0 13px;
        .icons {
            flex-direction: row;
            align-self:center;
            margin-left: 15px;
        }
        .subscribe {
            width:700px;
            flex-direction: row;
            justify-content: space-between;
            align-self:center;

            .title {
                align-self: center;
                font-size: 16px;
            }
            form {
                width: 335px;
                input {
                    width: 155px;
                    max-width: 185px;
                    height:34px;
                    margin-left: 15px;
                    font-size: 12px;

                }
                button {
                    width: 120px;
                    max-width: 120px;
                    height:40px;
                    margin-left: 15px;
                    font-size: 16px;
                    align-content: center;
                }
            }
        }


    }
    .bottom_line {
        padding-top: 35px;
        justify-content: space-between;
        ul.footer_column {
            list-style: none;
        }
        .footer_column {
            flex-direction: column;
            &_link {
                font-size:13px;
                margin-bottom: 15px;
            }
            &_contact {
                font-size:13px;
                margin-bottom: 15px;
            }
        }

    }
}
}

@media screen and (max-width: 900px) {
    footer {
        .top_line {
            display: flex;
            flex-direction: column;
            border-top: 2px solid #d6f0f9 ;
            .icons {
                display: flex;
                justify-content: center;
                width:100%;
                flex-direction: row;
                align-self:center;
                padding: 15px 0;
                border-bottom: 2px solid #d6f0f9 ;

            }
            .subscribe {
                // width:700px;
                display: flex;
                flex-direction: column;
                .title {
                    height: 63px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    font-size: 16px;
                    font-family: $regular;
                    span {
                        text-align: center;

                    }
                }
                form {
                    width: 100%;
                    // height: 95px;
                    min-height: 120px;
                    padding-bottom: 18px;
                    display: flex;
                    align-self: center;
                    flex-direction: column;
                    justify-content: space-between;
                    border-bottom: 2px solid #d6f0f9 ;
                    input {
                        font-size: 14px;
                        padding: 10px;
                        text-align: center;
                    }
                    button {
                        align-self: center;
                        width: 180px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }


        }
        .bottom_line {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            ul.footer_column {
                list-style: none;
            }
            .footer_column {
                display: flex;
                flex-direction: column;
                width:100%;
                padding-top: 30px;
                &_link {
                   align-self: center;
                   padding: 9px 0;
                   width:100%;
                   text-align: center;
                    a {
                        color:$light_color;
                        border-bottom: 1px solid #d6f0f9;
                        font-size: 16px;
                    }
                }

                .border_bottom {
                    border-bottom: 2px solid #d6f0f9 ;
                }

                &_contact {
                    align-self: center;
                    text-align: center;
                    font-size:14px;
                    font-family: $regular;
                    margin-bottom: 15px;
                    &_link {
                        align-self: center;
                        display: block;
                        color:$light_color;
                    }
                }
            }

        }
    }

}