.dropdown-menu, .header_info_nav>.nav  {display: block}
header {
    a,
    span {
        text-decoration: none;
        color:white;
    }
    .top_line {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        .section_inner {
            display: flex;
// Каталог товаров

        }
    }
    .bottom_line {
        .section_inner {
            display: flex;
            .header_logo {
                color: $dark_color;
                font-size: 16px;
                font-family: 'GothamProMedium';
                letter-spacing: 2px;
                text-decoration: none;
                span{
                    color: $dark_color;
                }
            }
            .header_basket {
                display: none;
            }
        }

    }
    .header_catalog {
        background: $dark_color;
        background-image: url('../../assets/img/old/menu.png');
        background-position: 90% center;
        background-repeat: no-repeat;
        background-position-x: calc(100% - 15px);
        a,span {
            font-size: 16px;
        }
        .mobile {
            display: none;
        }
        .desktop {
            display:none;
        };

        ul.nav-bar li a {
            line-height: 20px;
        }
    }
    .header_basket {
        display: none;
    }
    }

.header_contact{
    &_info_phones{
        display: flex;
        color: white;
        align-items: center;
        .left{
            padding-right: 25px;
            a{
                display: block;
            }
        }
    }

}

.basket_text{
    line-height: 1;
}


header{
    .header_catalog {
        background-color: $dark_color;
        flex-basis: 208px;
        min-width: 208px;
        position: relative;
        min-height: 42px;
        &_list_button{
            padding: 0 15px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 900px) {

header {
    .header_catalog {

        .desktop {
            display:block;
        };
    }
    .top_line {
        height:43px;
        background-color: $light_color;
        flex-direction: row;
        align-items: center;
        .section_inner {
            margin: 0 auto;
            justify-content: space-between;
            height: 43px;

// Каталог товаров


// Выпадалки города и помощь
            .header_city_change,
            .header_info_nav  {
                flex-basis: auto;

                min-width: 85px;
                display: flex;
                align-items: center;
                font-size: 14px;
                position: relative;
                span {
                    border-bottom: 1px solid #97d9f1;
                }
                .dropdown-menu {
                    position: absolute;
                    background: white;
                    top: 30px;
                    left:0;
                    padding: 10px;
                    z-index: 15;
                    list-style: none;
                    font-size: 12px;
                    a {
                        color:$dark_color;
                        &:hover {
                            text-decoration: underline !important;
                        }
                    }
                }
            }
// Контактная инфрмация
            .header_contact_info {
                flex-basis: 200px;
                min-width: 200px;
                font-size: 12px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-self: center;
                span {
                    width:65px;
                    color: #ffff;
                    text-decoration: none;
                    align-self:flex-start;
                    line-height: 17px;
                }
                span.header_contact_info_phones {
                    width: 110px;
                }
            }

// Корзина
            .header_basket {
                display: block;
                flex-basis: 190px;
                min-width: 190px;
                .basket_text {
                    // width: 30px;
                    // height:27px;
                    background-image: url('../../assets/img/old/basket.png');
                    background-repeat: no-repeat;
                    background-size: 30px 27px;
                    background-position: left center;
                    padding-left:45px;
                }
                .basket_text>span {
                    display: inline-block;
                    color: #ffff;
                    font-size: 13px;
                    border-bottom: 1px solid rgba(255,255,255,0.5);
                }
            }
        }
    }
    .bottom_line {
        // height: 100px;
        background-color: #e9eaf4;
        .section_inner {
            padding-top: 10px;
            padding-bottom: 30px;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            .header_logo {
                flex-basis: 195px;
                min-width: 195px;
                padding-left: 10px;
                img {
                    width: 192px;
                    height: 50px;
                }
            }
            .header_search {
                flex-basis: 445px;
                min-width: 445px;
                color: #134579;
                font-size: 13px;
                position: relative;
                height: 30px;
                input{
                    border:none;
                    border-bottom: 1px solid #848388;
                    background: none;
                    outline:none;
                    font-size: 18px;
                    width: 405px;
                    height: 27px;
                }
                button {
                    background: url(../../assets/img/old/search.png) center center no-repeat $light_color;
                    cursor: pointer;
                    height: 30px;
                    width: 30px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border: none;
                }
            }
            .send_letter {
                width: 185px;
                height: 30px;
                background: $light_color;
                color: #ffff;
                line-height: 30px;
                padding: 0 0 0 24px;
                font-size: 14px;
                text-decoration: none;
                background-image: url('../../assets/img/old/letter_to_send.png');
                background-position:95% center;
                background-repeat: no-repeat;
                min-width: 210px;
            }
        }

    }

    }

}

    @media screen and (max-width: 900px) {

        header {
            display: flex;
            flex-direction: column-reverse;
            position: relative;
            .top_line {
                height:43px;
                flex-direction: row;
                align-items: center;
                .section_inner {
                        .header_catalog {
                            .mobile {
                                display: block;
                            }
                            .desktop {
                                display:none;
                            };
                            width:100%;
                            flex-basis: 100%;

                                position: static;
                                .nav-bar {
                                    display: none;
                                    li {
                                        background-color: white;
                                        border-bottom: 1px #bcbcbc solid;
                                        a {
                                            font-size: 18px;
                                            font-weight: bold;
                                        }
                                    }
                                &.open {
                                    display: block;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                }
                                }

                        }
                        .header_city_change  {
                            display: none;
                        }
                        .header_contact_info {
                            display: none;
                        }

                        .header_info_nav {
                            display: none;
                        }
                        .header_basket {
                            display: none;
                        }
                }
            }
            .bottom_line {
                .section_inner {
                    height: 100px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .header_logo {
                        flex-basis: 210px;
                        min-width: 210px;
                        color: $light_color;
                        font-size: 16px;
                        font-family: 'GothamProMedium';
                        letter-spacing: 2px;
                        text-decoration: none;
                        img {
                            width: 210px;
                            height: 50px;
                        }
                    }
                    .header_search {
                        display: none;

                    }
                    .send_letter {
                       display: none;
                    }
                    .header_basket {
                        display: block;
                        flex-basis: 65px;
                        min-width: 65px;
                        height: 60px;
                        background-color: #e9eaf4;
                        background-image: url('../../assets/img/old/basket.png');
                        background-position:center center;
                        background-repeat: no-repeat;
                        position: relative;
                        .count {
                            margin-top: 9px;
                            margin-left: 9px;
                            background: $dark_color;
                            width: 23px;
                            height:23px;
                            border-radius: 10px;
                            font-size: 14px;
                            color:white;
                            line-height: 23px;
                            text-align: center;
                        }
                    }
                }

            }

            }


    }















    .header_catalog ul {
        padding: 0;
        margin-bottom: 0;
        list-style-type: none;
      }

      .header_catalog > ul.nav-bar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        z-index: 10;
        border-right: 1px solid #cfcfcf;
      }

      .header_catalog > ul.nav-bar > li:last-child > a {
        border-bottom: none;
        line-height: 20px;
      }

      .header_catalog > ul.nav-bar > li:hover > a {
        color: #4f8ccf;
      }

      .header_catalog > ul.nav-bar > li:hover > ul {
        display: block;
      }

      .header_catalog > ul.nav-bar > li > a {
        text-decoration: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        position: relative;
        color: #4f8ccf;
        line-height: 18px;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        padding: 11px 28px 10px 35px;
        border-bottom: 1px solid #cfcfcf;
        box-sizing: border-box;
        height: 58px;
      }

      @supports (display: block) {
        .header_catalog > ul.nav-bar > li > a {
          min-height: 58px;
          height: auto;
        }
      }

      .header_catalog > ul.nav-bar > li > a > .svg-icon {
        position: absolute;
        right: 20px;
        top: 50%;
        width: 9px;
        height: 10px;
        margin-top: -5px;
        -ms-flex: 0 0 9px;
            flex: 0 0 9px;
      }

      .header_catalog > ul.nav-bar > li > ul {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        min-height: 100%;
        z-index: 10;
        background-color: #fff;
        width: 245px;
        padding: 10px 0 0;
        border-right: 1px solid #cfcfcf;
        border-left: 1px solid #cfcfcf;
      }

      .header_catalog > ul.nav-bar > li > ul > li > a {
        width: 100%;
        display: block;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        padding: 9px 15px;
        text-decoration: none;
        position: relative;
      }

      .header_catalog > ul.nav-bar > li > ul > li > a .svg-icon {
        position: absolute;
        right: 30px;
        top: 50%;
        width: 9px;
        height: 10px;
        margin-top: -5px;
      }

      .header_catalog > ul.nav-bar > li > ul > li > ul {
        display: none;
        position: absolute;
        left: calc(100% + 1px);
        top: 0;
        min-height: 100%;
        background-color: #fff;
        z-index: 10;
        width: 245px;
        padding: 10px 0 0;
      }

      .header_catalog > ul.nav-bar > li > ul > li > ul > li > a {
        color: #000;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        padding: 9px 15px;
        display: block;
        text-decoration: none;
      }

      .header_catalog > ul.nav-bar > li > ul > li > ul > li > a:hover {
        color: #4f8ccf;
      }

      .header_catalog > ul.nav-bar > li > ul > li:hover > a {
        color: #4f8ccf;
      }

      .header_catalog > ul.nav-bar > li > ul > li:hover > ul {
        display: block;
      }

      .header_catalog:hover > ul.nav-bar {
        display: block;
      }

      .header_catalog:hover .app-header__catalog-list-button a {
        background-color: #83898e;
        text-decoration: none;
      }
