@media screen and (min-width: 900px) {
// Category
.section_outer.section_category_block {
    .section_inner {
        .section_categories_wrap {
            min-width: 974px;
            display: grid;
            grid-gap: 0;
            grid-template-columns: repeat(2, minmax(495px, 1fr));
            grid-auto-rows: 50px;
            grid-auto-flow: dense;
            &_in_width {
                grid-auto-rows:auto;
            }
            
                .item {
                    grid-row: span 2;
                    border: 1px solid  #e3e3e3;
                    position: relative;

                    &_count_goods {
                        position: absolute;
                        bottom: 27px;
                        left:35px;
                        height: 20px;
                        border: 1px solid $light_color;
                        border-radius: 5px; 
                        padding: 0 5px;
                        line-height: 20px;
                        font-size: 12px;
                        color:$light_color;
                        font-family: $medium;
                        background-color: rgba(233,234,244,0.2);
                    }   

                    &_image {
                        position: absolute;
                        z-index: -1;
                        overflow: hidden;
                    }

                    &_content {
                        height:inherit;
                        z-index: 10;
                        // position: absolute;
                        display: flex;
                        flex-direction: column;
                            &_header {
                                &_title {
                                    width:220px;
                                    font-family: $light;
                                    font-size: 28px;
                                    color: #000000;
                                   text-decoration: underline;
                                    display: inline-block;
                                }
                                &_list {
                                    list-style: none;
                                    padding:15px 0;
                                    &_item {
                                        &_link {
                                            color: $light_color;
                                            font-size: 18px;
                                            font-family: $regular;
                                            text-decoration: underline;
                                            line-height: 22px;
                                            &:hover {
                                                border-bottom: 1px solid #d7edf8;
                                            }
                                        }
                                    }
                                }
                            }
                            &_bottom {
                                width:195px;
                                &_title {
                                    font-family: $medium;
                                    font-size: 14px;
                                    color: $dark_color;
                                }
                                &_price {
                                    font-size: 26px;
                                    font-family: $medium;
                                }
                            }
                    }


                    &_in_width {
                
                        grid-column: span 2;
                        // flex-basis: 100%;
                        background-color: rgb(233,234,244);
                        min-height: 100px;
                        height: 100%;
                        border: none;

                        .item_image {
                            display: none;
                        }
                        .item_content {
                            display: flex;
                            flex-direction: row;
                            .item_content_header {
                                line-height: 3px;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                .item_content_header_title {
                                    width:350px;
                                    padding-left: 35px;
                                    color: $light_color;
                                    font-family: $bold;
                                    line-height: 35px;

                                }
                            }
                        }

                        .item_content_header_list {
                            list-style: none;
                            padding:25px 0;
                            display: flex;
                            flex-wrap: wrap;
                            line-height:50px;
                            &_item {
                                width:290px;
                                line-height: 16px;
                                &_link {
                                    color: $light_color;
                                    font-size: 18px;
                                    color: black;
                                }
                            }
                        }
                    }

                    &_bg {
                        min-width: 495px;
                        // height: 500px;
                        // max-height: 500px;
                        grid-row: span 10;
                        .item_image {
                            position: absolute;
                            bottom:25px;
                            // right:25px;
                            z-index: -1;
                            height:326px;
                            width:370px;
                            display: block;
                            img {
                                width: 100%;
                            }
                        }
                        .item_content {
                            padding: 20px 0 0 20px;
                            &_bottom {
                                margin-top: 65px;
                            }                        }
                    }
                    &_md {
                        flex-basis: 485px;
                        min-width: 485px;
                        height: 249px;
                        max-height: 249px;
                        grid-row: span 5;

                        .item_image {
                            top: 10px;
                            position: absolute;
                            // bottom:0;
                            // right:25px;
                            z-index: -1;
                            height:165px;
                            // width:370px;
                            display: block;
                            img {
                                max-height: 165px;
                                max-width: 200px;
                            }
                        }
                        .item_content {
                            padding: 20px 20px 0 20px;
                            &_bottom {
                                // margin-top: 65px;
                                &_title {
                                    padding-top: 20px;
                                }
                            }
                        }
                    }

                    &_left {
                        .item_image {
                            right:25px;
                            text-align: right;
                        }
                        .item_content {
                              float:left;
                              padding-left: 30px;
                        }
                    }
                    &_right {
                        .item_image {
                            left:25px;
                            text-align: left;
                        }
                        .item_content {
                              float:right;
                              padding-right: 30px;
                        }
                    }
                }
        }
    }
}
}

// mobile
@media screen and (max-width: 900px) {

    .section_outer.section_category_block {
        .section_inner {
            .section_categories_wrap {
                display: flex;
                flex-direction: column;
                min-width: auto;
                    .item {
                        text-align: center;
                        border: 1px solid #e3e3e3;
                        // min-height: 500px;
                        padding: 18px 24px;
                        // position: relative;
                        &_image {
                            position: static;
                            padding-top: 20px;
                            text-align: center;
                            height:auto;
                            display: block;
                            // position: absolute;
                            z-index: -1;
                            overflow: hidden;
                        }

                        &_content {
                            height:inherit;
                                &_header {
                                    &_title {
                                        text-align: center;
                                        font-family: $light;
                                        font-size: 28px;
                                        color: #000000;
                                        border-bottom: 1px solid #a8a8a8;
                                        display: inline-block;
                                    }
                                    &_list {
                                        list-style: none;
                                        padding-top:15px;
                                        &_item {
                                            &_link {
                                                color: $light_color;
                                                font-size: 13px;
                                                font-family: $regular;
                                                &:hover {
                                                    border-bottom: 1px solid #d7edf8;
                                                }
                                            }
                                        }
                                    }
                                }
                                &_bottom {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    &_title {
                                        padding-top: 20px;
                                        font-family: $medium;
                                        font-size: 14px;
                                        color: $dark_color;
                                    }
                                    &_price {
                                        text-align: center;
                                        font-size: 26px;
                                        font-family: $medium;
                                    }
                                }
                        }
                    }
            }
        }
    }

  


}