.section_outer {
    min-width: 320px;

    .section_inner {
        max-width: 970px;
        margin: 0 auto;
    }
}


.section_outer.page_info_list {
    .section_inner {
        .section_wrap_list {
            flex-wrap: wrap;
            justify-content: space-between;

            .item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 220px;
                flex-basis: 470px;
                width: 470px;
                min-width: 470px;
                margin-bottom: 20px;

                &_img {
                    height: 225px;
                    flex-basis: 214px;
                    width: 214px;
                }

                &_inner {
                    flex-basis: 220px;
                }

                &:nth-child(2n) {
                    border-bottom: 5px solid $light_color;
                }

                &:nth-child(2n+1) {
                    border-bottom: 5px solid $dark_color;
                }
            }
        }
    }
}

// desktop
@media screen and (min-width: 900px) {

    .section_outer {
        margin-bottom: 30px;

        // overflow: hidden;
        .section_inner {

            max-width: 970px;
            width: 100%;

            .section_header {
                padding-top: 25px;
                padding-bottom: 25px;
                display: flex;

                &_title {
                    font-size: 32px;
                    font-family: $regular;

                    &_link {
                        font-size: 16px;
                        color: $light_color;
                        font-family: $regular;
                        padding: 0 7px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0);

                        :hover {
                            border-bottom: 1px solid #d7edf8;
                        }
                    }
                }
            }

            .section_wrap_list {

                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                .item {
                    flex-basis: 240px;
                    max-width: 240px;
                    height: 290px;
                    width: 200px;
                    border: 1px solid #e6e6e6;
                    display: flex;
                    justify-content: space-between;

                    &_inner {
                        padding-left: 15px;
                        padding-right: 15px;
                        padding-top: 10px;
                        padding-bottom: 10px;

                        .title {
                            font-size: 14px;
                            color: $dark_color;
                            font-family: $medium;
                            border-bottom: 1px solid rgba(0, 0, 0, 0);

                            &:hover {
                                border-bottom: 1px solid #a8a8a8;
                            }
                        }

                    }
                }
            }

            .steps_list {
                &_item {
                    padding: 0 370px 0 160px;
                    min-height: 105px;
                    background-repeat: no-repeat;
                    background-position: left top;
                    font-size: 18px;
                    color: $dark_color;
                    font-family: $medium;

                    &_photo {
                        background-image: url('../../assets/img/old/selfie.png');
                    }

                    &_email {
                        background-image: url('../../assets/img/old/technology.png');
                    }

                    &_communications {
                        background-image: url('../../assets/img/old/communications.png');
                    }

                }
            }
        }

        &_page {

            // overflow: hidden;
            .section_inner {
                .section_wrap_list {
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
            }
        }
    }


    .section_outer.section_breadcrambs {
        padding: 20px 0;

        .section_inner {
            ul {
                list-style: none;
                display: flex;
                justify-content: start;

                li {
                    border-right: 1px solid $dark_color;
                    padding: 0 5px;
                    line-height: 14px;

                    a {
                        font-size: 14px;
                        font-family: $regular;
                        color: $dark_color;
                        line-height: 14px;
                    }

                    &.active {
                        font-size: 14px;
                        font-family: $regular;
                        color: $light_color;
                    }

                    &:last-child {
                        border: none;
                    }

                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
        }
    }


    // Articles
    .section_outer.section_articles {
        margin-bottom: 50px;

        .section_inner {
            .section_wrap_list {
                justify-content: space-between;

                .item {
                    margin: 0 auto 40px;
                    height: 340px;
                    flex-basis: 210px;
                    max-width: 210px;
                    flex-direction: column;
                    justify-content: space-between;

                    &:nth-child(2n) {
                        .item_inner {
                            border-bottom: 5px solid $light_color;
                        }
                    }

                    &:nth-child(2n+1) {
                        .item_inner {
                            border-bottom: 5px solid $dark_color;
                        }
                    }

                    &_img {
                        height: 150px;
                    }

                    &_inner {
                        height: 155px;

                        .title {
                            color: $light_color;
                        }

                        .introtext {
                            padding-top: 20px;
                            font-size: 12px;
                            font-family: $regular;
                        }
                    }
                }
            }
        }
    }


    // Category
    .section_outer.section_categories {
        .section_inner {
            .section_categories_wrap {
                min-width: 974px;
                flex-wrap: wrap;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .item.in_width {
                    flex-basis: 100%;
                    background-color: rgb(233, 234, 244);
                    min-height: 100px;
                    margin: 5px 0;
                    line-height: 100px;

                }


                &_column {
                    display: flex;
                    flex-direction: column;
                    // border: 1px solid #e3e3e3;
                    border: 1px solid #e3e3e3;

                    &:last-child {
                        border-left: none;
                    }

                    .item {

                        border-bottom: 1px solid #e3e3e3;

                        &:last-child {
                            border-bottom: none;
                        }

                        position: relative;

                        &_image {
                            position: absolute;
                            z-index: -1;
                            overflow: hidden;
                        }

                        &_content {
                            height: inherit;
                            z-index: 10;
                            // position: absolute;
                            display: flex;
                            flex-direction: column;

                            &_header {
                                &_title {
                                    width: 220px;
                                    font-family: $light;
                                    font-size: 28px;
                                    color: #000000;
                                    text-decoration: underline;
                                    display: inline-block;
                                }

                                &_list {
                                    list-style: none;
                                    padding: 15px 0;

                                    &_item {
                                        &_link {
                                            color: $light_color;
                                            font-size: 13px;
                                            font-family: $regular;

                                            &:hover {
                                                border-bottom: 1px solid #d7edf8;
                                            }
                                        }
                                    }
                                }
                            }

                            &_bottom {
                                width: 195px;

                                &_title {
                                    font-family: $medium;
                                    font-size: 14px;
                                    color: $dark_color;
                                }

                                &_price {
                                    font-size: 26px;
                                    font-family: $medium;
                                }
                            }
                        }

                        &_bg {
                            flex-basis: 485px;
                            min-width: 485px;
                            height: 500px;
                            max-height: 500px;

                            .item_image {
                                position: absolute;
                                bottom: 25px;
                                // right:25px;
                                z-index: -1;
                                height: 326px;
                                width: 370px;
                                display: block;

                                img {
                                    height: 320px;
                                }
                            }

                            .item_content {
                                padding: 20px 0 0 20px;

                                &_bottom {
                                    margin-top: 65px;
                                }
                            }
                        }

                        &_md {
                            flex-basis: 485px;
                            min-width: 485px;
                            height: 249px;
                            max-height: 249px;

                            .item_image {
                                top: 10px;
                                position: absolute;
                                // bottom:0;
                                // right:25px;
                                z-index: -1;
                                height: 165px;
                                // width:370px;
                                display: block;

                                img {
                                    max-height: 165px;
                                    max-width: 200px;
                                }
                            }

                            .item_content {
                                padding: 20px 20px 0 20px;

                                &_bottom {

                                    // margin-top: 65px;
                                    &_title {
                                        // padding-top: 20px;
                                    }
                                }
                            }
                        }

                        &_left {
                            .item_image {
                                right: 25px;
                                text-align: right;
                            }

                            .item_content {
                                float: left;
                                padding-left: 15px;
                            }
                        }

                        &_right {
                            .item_image {
                                left: 25px;
                                text-align: left;
                            }

                            .item_content {
                                float: right;
                                padding-right: 15px;
                            }
                        }
                    }


                }
            }
        }
    }

    .section_wrap_list {
        .item {
            &_inner {
                @include rmin(900) {
                    height: auto !important;
                    flex: 1;
                }

            }
        }

    }


    // Category
    .section_outer_page.section_actions {
        .section_inner {
            .section_wrap_list {
                .item {}

            }
        }
    }


    // article, hits slider
    .slick-slider {

        // justify-content: space-between;
        .item {
            max-width: calc(970px/4);
            // height: 290px;
            width: 200px;
            border: 1px solid #e6e6e6;
            display: flex;

            &_inner {
                // height: 265px;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;

                .title {
                    font-size: 14px;
                    color: $dark_color;
                    font-family: $medium;
                    border-bottom: 1px solid rgba(0, 0, 0, 0);

                    &:hover {
                        border-bottom: 1px solid #a8a8a8;
                    }
                }

                .action_date {
                    margin-top: 20px;
                    font-size: 12px;
                    font-family: $light;
                }

                &_price {
                    display: flex;
                    flex-direction: column;

                    &_old {
                        font-family: $regular;
                        font-size: 16px;
                    }

                    &_now {
                        font-family: $medium;
                        font-size: 26px;
                    }
                }

                .now_price {}

                .labels {
                    display: flex;
                    height: 20px;

                    .label {
                        border: 1px solid $light_color;
                        border-radius: 4px;
                        margin-left: 5px;
                        font-size: 12px;
                        font-family: $medium;
                        height: 20px;
                        line-height: 20px;
                        padding: 0 8px;

                        &_blue {
                            background: $light_color;
                            color: white;
                        }

                        &_while {
                            background: white;
                            color: $light_color
                        }
                    }
                }

            }

            &_img {
                height: 150px;
            }
        }

        .slick-slide {
            &:nth-child(2n) {
                .item_inner {
                    border-bottom: 5px solid $light_color;
                }
            }

            &:nth-child(2n+1) {
                .item_inner {
                    border-bottom: 5px solid $dark_color;
                }
            }
        }

        .slick-dots li button {
            margin-top: 2px;
            background: $light_color;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            padding: 0;
        }

        .slick-dots li.slick-active button {
            background: $dark_color;
            width: 11px;
            height: 11px;
            border-radius: 6px;
        }
    }


}

.page-actions {

    // justify-content: space-between;
    .section_wrap_list {
        .item {
            &:nth-child(2n) {
                .item_inner {
                    border-bottom: 5px solid $light_color;
                }
            }

            &:nth-child(2n+1) {
                .item_inner {
                    border-bottom: 5px solid $dark_color;
                }
            }

            max-width: 239px;
            height: 290px;
            width:200px;
            border: 1px solid #e6e6e6;
            display: flex;

            &_inner {
                height: 265px;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;

                .title {
                    font-size: 14px;
                    color: $dark_color;
                    font-family: $medium;
                    border-bottom: 1px solid rgba(0, 0, 0, 0);

                    &:hover {
                        border-bottom: 1px solid #a8a8a8;
                    }
                }

                .action_date {
                    margin-top: 20px;
                    font-size: 12px;
                    font-family: $light;
                }

                &_price {
                    display: flex;
                    flex-direction: column;

                    &_old {
                        font-family: $regular;
                        font-size: 16px;
                    }

                    &_now {
                        font-family: $medium;
                        font-size: 26px;
                    }
                }

                .now_price {}

                .labels {
                    display: flex;
                    height: 20px;

                    .label {
                        border: 1px solid $light_color;
                        border-radius: 4px;
                        margin-left: 5px;
                        font-size: 12px;
                        font-family: $medium;
                        height: 20px;
                        line-height: 20px;
                        padding: 0 8px;

                        &_blue {
                            background: $light_color;
                            color: white;
                        }

                        &_while {
                            background: white;
                            color: $light_color
                        }
                    }
                }

            }

            &_img {
                height: 150px;
            }
        }
    }

}







// article, hits slider
.slick-slider {

    // justify-content: space-between;
    .item {
        max-width: 239px;
        min-width: 239px;
        //    height: 290px;
        width: 200px;
        border: 1px solid #e6e6e6;
        display: flex;

        &_inner {
            //    height: 265px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 10px;

            .title {
                font-size: 14px;
                color: $dark_color;
                font-family: $medium;
                border-bottom: 1px solid rgba(0, 0, 0, 0);

                &:hover {
                    border-bottom: 1px solid #a8a8a8;
                }
            }

            &_img {
                height: 144px;
                margin: 0 auto;
            }
        }
    }

    .slick-slide {
        &:nth-child(2n) {
            .item_inner {
                border-bottom: 5px solid $light_color;
            }
        }

        &:nth-child(2n+1) {
            .item_inner {
                border-bottom: 5px solid $dark_color;
            }
        }
    }

    .slick-dots li button {
        margin-top: 2px;
        background: $light_color;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        padding: 0;
    }

    .slick-dots li.slick-active button {
        background: $dark_color;
        width: 11px;
        height: 11px;
        border-radius: 6px;
    }

}







// mobile
@media screen and (max-width: 900px) {


    .section_outer.section_info_slider {
        display: none;
    }

    .section_outer.section_slider_gift {
        display: none;
    }

    .section_outer {

        // overflow: hidden;
        .section_inner {
            margin: 0 auto;
            width: 100%;
            max-width: none;

            .section_header {
                padding-top: 15px;
                padding-bottom: 25px;
                display: flex;

                &_title {
                    font-size: 32px;
                    font-family: $regular;

                    &_link {
                        font-size: 16px;
                        color: $light_color;
                        font-family: $regular;
                        padding: 0 7px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0);

                        :hover {
                            border-bottom: 1px solid #d7edf8;
                        }
                    }
                }
            }
        }
    }



    .page-actions {

        // justify-content: space-between;
        .section_wrap_list {
            .item {
                &:nth-child(2n) {
                    .item_inner {
                        border-bottom: 5px solid $light_color;
                    }
                }

                &:nth-child(2n+1) {
                    .item_inner {
                        border-bottom: 5px solid $dark_color;
                    }
                }

                max-width: 239px;
                height: 290px;
                width:200px;
                border: 1px solid #e6e6e6;
                display: flex;

                &_inner {
                    height: 265px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    .title {
                        font-size: 14px;
                        color: $dark_color;
                        font-family: $medium;
                        border-bottom: 1px solid rgba(0, 0, 0, 0);

                        &:hover {
                            border-bottom: 1px solid #a8a8a8;
                        }
                    }

                    .action_date {
                        margin-top: 20px;
                        font-size: 12px;
                        font-family: $light;
                    }

                    &_price {
                        display: flex;
                        flex-direction: column;

                        &_old {
                            font-family: $regular;
                            font-size: 16px;
                        }

                        &_now {
                            font-family: $medium;
                            font-size: 26px;
                        }
                    }

                    .now_price {}

                    .labels {
                        display: flex;
                        height: 20px;

                        .label {
                            border: 1px solid $light_color;
                            border-radius: 4px;
                            margin-left: 5px;
                            font-size: 12px;
                            font-family: $medium;
                            height: 20px;
                            line-height: 20px;
                            padding: 0 8px;

                            &_blue {
                                background: $light_color;
                                color: white;
                            }

                            &_while {
                                background: white;
                                color: $light_color
                            }
                        }
                    }

                }

                &_img {
                    height: 150px;
                }
            }
        }
    }






    // Category
    .section_outer.section_categories {
        .section_inner {
            .section_categories_wrap {
                display: flex;
                flex-direction: column;
                min-width: auto;

                &_column {
                    display: flex;
                    flex-direction: column;

                    .item {
                        text-align: center;
                        border: 1px solid #e3e3e3;
                        // min-height: 500px;
                        padding: 18px 24px;

                        // position: relative;
                        &_image {
                            padding-top: 20px;
                            text-align: center;
                            height: auto;
                            display: block;
                            // position: absolute;
                            z-index: -1;
                            overflow: hidden;
                        }

                        &_content {
                            height: inherit;

                            &_header {
                                &_title {
                                    text-align: center;
                                    font-family: $light;
                                    font-size: 28px;
                                    color: #000000;
                                    border-bottom: 1px solid #a8a8a8;
                                    display: inline-block;
                                }

                                &_list {
                                    list-style: none;
                                    padding-top: 15px;

                                    &_item {
                                        &_link {
                                            color: $light_color;
                                            font-size: 13px;
                                            font-family: $regular;

                                            &:hover {
                                                border-bottom: 1px solid #d7edf8;
                                            }
                                        }
                                    }
                                }
                            }

                            &_bottom {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                &_title {
                                    padding-top: 20px;
                                    font-family: $medium;
                                    font-size: 14px;
                                    color: $dark_color;
                                }

                                &_price {
                                    text-align: center;
                                    font-size: 26px;
                                    font-family: $medium;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section_outer.section_articles {
        .section_inner {
            .section_wrap_list {
                justify-content: space-between;

                .item {
                    margin-bottom: 30px;
                    flex-direction: column;
                    justify-content: space-between;

                    &:nth-child(2n) {
                        .item_inner {
                            border-bottom: 5px solid $light_color;
                        }
                    }

                    &:nth-child(2n+1) {
                        .item_inner {
                            border-bottom: 5px solid $dark_color;
                        }
                    }

                    &_img {
                        display: flex;
                        margin-bottom: 15px;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                        }
                    }

                    &_inner {
                        padding: 0 20px 15px 20px;

                        .title {
                            color: $light_color;
                            font-size: 14px;
                            ;
                        }

                        .introtext {
                            padding-top: 20px;
                            font-size: 12px;
                            line-height: 16px;
                            font-family: $regular;
                        }
                    }
                }
            }
        }
    }


}