

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    opacity: 0,75;
}


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 50px;
}

.slick-dots
{
    position: absolute;
    bottom: -35px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}


#giftSlider, #infoSlider  {

    .slick-slide img {
        width:100%
    }

    /* Arrows */
    .slick-prev,
    .slick-next
    {
        position: absolute;
        top: 50%;
        display: block;
    }

    .slick-prev,
    .slick-next
    {
        width: 55px;
        height: 51px;
        margin-top: -27px;
        opacity: .75;
        background: none;
        z-index: 10;
        cursor: pointer;
    }

    .slick-prev
    {
        left: 14%;
        background-image: url(../../assets/img/old/arr_right.png);
    }

    .slick-next
    {
        right: 14%;
        background-image: url(../../assets/img/old/arr_left.png);
    }
    .slick-dots
    {
        position: absolute;
        bottom: 13px;
    }

    /* Dots */
    .slick-dotted.slick-slider
    {
        margin-bottom: 0;
    }

}

