$assetsPath: '../' !default;

// HelveticaNeueCyr - BLACK
@font-face {
    font-family: "GothamProRegular";
    src: url($assetsPath+'fonts/GothamProRegular.eot'); /* IE9 Compat Modes */
    src: url($assetsPath+'fonts/GothamProRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url($assetsPath+'fonts/GothamProRegular.woff') format('woff'), /* Pretty Modern Browsers */
         url($assetsPath+'fonts/GothamProRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
         //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
  }

  @font-face {
     font-family: "GothamProMedium";
     src: url($assetsPath+'fonts/GothamProMedium.eot'); /* IE9 Compat Modes */
     src: url($assetsPath+'fonts/GothamProMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url($assetsPath+'fonts/GothamProMedium.woff') format('woff'), /* Pretty Modern Browsers */
          url($assetsPath+'fonts/GothamProMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
          //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
   }

   @font-face {
     font-family: "GothamProLight";
     src: url($assetsPath+'fonts/GothamProLight.eot'); /* IE9 Compat Modes */
     src: url($assetsPath+'fonts/GothamProLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url($assetsPath+'fonts/GothamProLight.woff') format('woff'), /* Pretty Modern Browsers */
          url($assetsPath+'fonts/GothamProLight.ttf')  format('truetype'), /* Safari, Android, iOS */
          //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
   }

   @font-face {
     font-family: "GothamProBold";
     src: url($assetsPath+'fonts/GothamProBold.eot'); /* IE9 Compat Modes */
     src: url($assetsPath+'fonts/GothamProBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url($assetsPath+'fonts/GothamProBold.woff') format('woff'), /* Pretty Modern Browsers */
          url($assetsPath+'fonts/GothamProBold.ttf')  format('truetype'), /* Safari, Android, iOS */
          //  url('/assets/fonts/HelveticaNeueCyr/Black/HelveticaNeueCyr-Black.svg') format('svg'); /* Legacy iOS */
   }

   $regular: GothamProRegular;
   $medium: GothamProMedium;
   $light: GothamProLight;
   $bold: GothamProBold;


   $light_color:#31b2e1;
   $dark_color:#134579;

   button {
        border:none;
   }
   a {
        text-decoration: none;
     }
     ul {
          padding: 0;
          margin: 0;
     }

   body {
        font-family:$regular;
        margin: 0;
   }

   h2 {
        font-size: 18px;
        color:$dark_color;
        font-family: $medium;
   }


   .caret {
     display: inline-block;
     width: 0;
     height: 0;
     margin-left: 2px;
     vertical-align: middle;
     border-top: 4px dashed;
     border-top: 4px solid\9;
     border-right: 4px solid transparent;
     border-left: 4px solid transparent;
 }

@media screen and (max-width: 900px) {
     .body {
          padding-left: 15px;
          padding-right: 15px;
     }
}
body .h1_smaller{
     @include css-lock(25,32,768,1920);
     @include r(900){
          margin-bottom: 30px;
     }
}