include ../utils/mixins
include ../utils/includes
include ../utils/stars
- var pathPrefix = '';
- var title = 'Title';

- var description = 'Description';
- var pageClass = '';
block variables
- function imgPath(path) {return pathPrefix + 'assets/img/'+ path}
- function imgPathOld(path) {return pathPrefix + 'assets/img/old/'+ path}
//- usage: img(src=imgPath('img.jpg'));

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(content="telephone=no" name="format-detection")
        meta(name="HandheldFriendly" content="true")
        title #{title}
        meta(name="description" content=description)
        //link(rel='stylesheet' href=pathPrefix + 'assets/css/vendors.css')
        link(rel='stylesheet' href=pathPrefix + 'assets/css/app.css')
        block head

    body.body(class=pageClass)
        .layout
            .layout__header
                block header
            main.layout__main
                block content
            .layout__footer
                +footer()
        block modals


        script(src='https://cdn.jsdelivr.net/npm/vue@2.6.12')
        script(src=pathPrefix + 'assets/js/vueCode.js')
        script(src=pathPrefix + 'assets/js/vendors.js')
        script(src=pathPrefix + 'assets/js/app.js')
        block script
