@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;700&display=swap');


@mixin font {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}
@mixin font-bold {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}
