// Font
$main-font: 'Barlow', sans-serif;

// Size
$main-font-size: 18px;
$main-font-weight: 300;
$main-line-height: 22/18;

// Breakpoints
$breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1024px,
        xl: 1200px
);

// Colors
// $color-primary: #4AC0C3;
// $color-secondary: #AD6AD9;
$color-white: #FFFFFF;
// $color-dark: #202020;
$color-black: #000000;
// $color-text: #000033;
// $color-gray: #D5D5D5;

$light_color:#31b2e1;
$dark_color:#134579;



// Z-indexes
// $z-indexes: (
//         "modal",
//         "latest-activities",
//         "header",
//         "wrapper",
//         "footer"
// );

// Transitions
$transition-base: 0.4s cubic-bezier(.23, 1, .32, 1);

//transition last activities
$transition-la: .6s cubic-bezier(0.08, 1.00, 0.21, 1.00);