.tooltipster-sidetip.tooltipster-shadow,
.tooltipster-sidetip.tooltipster-shadow2
  .tooltipster-box
    border: none
    border-radius: 5px
    background: #fff
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
  &.tooltipster-bottom .tooltipster-box
    margin-top: 6px
  &.tooltipster-left .tooltipster-box
    margin-right: 6px
  &.tooltipster-right .tooltipster-box
    margin-left: 6px
  &.tooltipster-top .tooltipster-box
    margin-bottom: 6px
  .tooltipster-content
    color: #8d8d8d
  .tooltipster-arrow
    height: 6px
    margin-left: -6px
    width: 12px
  &.tooltipster-left .tooltipster-arrow, &.tooltipster-right .tooltipster-arrow
    height: 12px
    margin-left: 0
    margin-top: -6px
    width: 6px
  .tooltipster-arrow-background
    display: none
  .tooltipster-arrow-border
    border: 6px solid transparent
  &.tooltipster-bottom .tooltipster-arrow-border
    border-bottom-color: #fff
  &.tooltipster-left .tooltipster-arrow-border
    border-left-color: #fff
  &.tooltipster-right .tooltipster-arrow-border
    border-right-color: #fff
  &.tooltipster-top .tooltipster-arrow-border
    border-top-color: #fff
  &.tooltipster-bottom .tooltipster-arrow-uncropped
    top: -6px
  &.tooltipster-right .tooltipster-arrow-uncropped
    left: -6px


.tooltipster-sidetip.tooltipster-shadow2
  .tooltipster-content
    font-size: 13px
    line-height: normal
    letter-spacing: .05em
    color: #333333

  .-uppercase
    text-transform: uppercase
    .tooltipster-content
      font-size: 11px

.alt-state
  text-align: center
  font-size: 13px
  &__head
    line-height: .9375rem
  &__subheader
    margin-bottom: 6px

  &__body
    color: #a7a7a7
  &__link
    text-transform: uppercase
    // color: $color-primary

